﻿@using MVCDatatable.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["GlobalLongName"]</title>
    <base href="@System.Configuration.ConfigurationManager.AppSettings["GlobalBasePath"]" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #4 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <link href="~/assets/apps/css/todo-2.min.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->


    <link href="~/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />

    @*========Dynamic Them Changes============*@
    @*<link href="~/assets/layouts/layout/css/themes/light2.min.css" id="style_color" rel="stylesheet" type="text/css" />*@
    @*========Dynamic Them Changes============*@

    <link href="~/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components-rounded.min.css" rel="stylesheet-primary" type="text/css" />

    @*<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>*@

    <link href="~/assets/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/theme.less" rel="stylesheet" type="text/css" />


    <style>
        button:hover, .btn:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.26) !important;
        }
    </style>

    <script src="~/scripts/modernizr-2.6.2.js"></script>

    <style>
        .hiddenControl {
            display: none;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
            border: 1px solid #e4e8ee;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
                background: #eaedf2;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list {
                padding-right: 0 !important;
                padding-left: 0;
                list-style: none;
            }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details {
            overflow: hidden;
        }
    </style>



    @*<script type="text/javascript">
            var baseUrl = $("base").first().attr("href");
            function Notifications() {
                $.ajax({
                    url: baseUrl + "/Home/Notifications",
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {

                    },
                    error: function () {
                        console.log('err')
                    }
                });
            }
            setInterval(function () {
                Notifications();
            }, 1000);
        </script>*@


</head>



<body id="MyBody" class="apple-green page-sidebar-closed">


    <!-- END HEADER & CONTENT DIVIDER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <div class="login-header">
                    @*<div class="menu-toggler sidebar-toggler hiddenControl">
                        <i class="fa fa-bars" aria-hidden="true"></i>                        
                    </div>*@

                    <img src="~/LOGO01.png" alt="Logo" height="55" width="150" />

                </div>
                <div class="page-title"></div>
            </div>
            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            @*<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>*@

            <!-- END RESPONSIVE MENU TOGGLER -->

            
            <!-- BEGIN PAGE TOP -->
            <div class="page-top text-center">

                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->

                <h2 class="com-name">@System.Configuration.ConfigurationManager.AppSettings["GlobalLongName"]</h2>
                <div class="top-menu">

                    <ul class="nav navbar-nav pull-right" id="MyNotification">

                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="Logo" class="img-circle" src="~/man.png">
                                <span class="username username-hide-on-mobile"> Welcome, GUEST </span>
                                @*<i class="fa fa-angle-down"></i>*@
                            </a>
                            @*<ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="~/ChangePin/Index/" onclick="clearTextBox();"><i class="fa fa-lock" aria-hidden="true"></i> Change Password</a>
                                </li>

                                <li>
                                    <a href="~/Login/SignOut">
                                        <i class="fa fa-power-off" aria-hidden="true"></i> Log Out
                                    </a>
                                </li>

                            </ul>*@
                        </li>

                    </ul>
                </div>

                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <br /><br />
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <br />
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->
         
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            <a href="#" target="_blank">&copy; Copyright &copy; @DateTime.Now.Year - @System.Configuration.ConfigurationManager.AppSettings["GlobalShortName"]. </a> All rights reserved.
        </div>
    </div>
    <!-- END FOOTER -->

    <div class="quick-nav-overlay"></div>


    @*<script type="text/javascript" src="~/assets/global/plugins/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script src="~/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/scripts/app.min.js"></script>
    <script type="text/javascript" src="~/assets/pages/scripts/components-date-time-pickers.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>

    <script type="text/javascript" src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/assets/layouts/layout2/scripts/layout.min.js"></script>
    <script type="text/javascript" src="~/assets/layouts/global/scripts/quick-sidebar.min.js"></script>
    <script type="text/javascript" src="~/assets/layouts/global/scripts/quick-nav.min.js"></script>


    @*<script type="text/javascript" src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>*@

    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/js.cookie.min.js"></script>

    <script type="text/javascript" src="~/assets/global/plugins/jquery.blockui.min.js"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @*<script type="text/javascript" src="~/assets/global/plugins/morris/raphael-min.js"></script>*@
    <script type="text/javascript" src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    @*<script type="text/javascript" src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/flot/jquery.flot.resize.min.js"></script>*@

    <script type="text/javascript" src="~/assets/pages/scripts/components-date-time-pickers.min.js"></script>
    @*<script type="text/javascript" src="~/assets/global/plugins/flot/jquery.flot.categories.min.js"></script>*@


    @*For TBINV Only*@
    <script type="text/javascript" src="~/assets/global/plugins/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/assets/layouts/layout2/scripts/demo.min.js"></script>
    <script type="text/javascript" src="~/assets/apps/scripts/todo-2.min.js"></script>

    @*<script src="~/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugins/select2/js/i18n/select2.full.min.js"></script>
    <script src="~/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>

    @*<script type="text/javascript" src="~/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/counterup/jquery.counterup.min.js"></script>*@
    <script type="text/javascript" src="~/assets/global/plugins/echarts/echarts.js"></script>


    @RenderSection("scripts", required: false)
     

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script type="text/javascript">
     toastr.options = {
         "closeButton": true,
         "debug": false,
         "newestOnTop": false,
         "progressBar": false,
         "positionClass": "toast-top-right",
         "preventDuplicates": false,
         "onclick": null,
         "showDuration": "300",
         "hideDuration": "1000",
         "timeOut": "5000",
         "extendedTimeOut": "1000",
         "showEasing": "swing",
         "hideEasing": "linear",
         "showMethod": "fadeIn",
         "hideMethod": "fadeOut"
     }
    </script>


</body>
</html>
