﻿@using MVCDatatable.HtmlHelpers
<!DOCTYPE html>
<html>
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114319229-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-114319229-2');
    </script>

    <meta charset="utf-8" />
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["GlobalLongName"]</title>
    <base href="@System.Configuration.ConfigurationManager.AppSettings["GlobalBasePath"]" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets1/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets1/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets1/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets1/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets1/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets1/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <style>

        .hiddenControl {
            display: none;
        }
    </style>

</head>
<body class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top" style="height:100px">
                        <div class="container" style="margin-top:-40px;">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo" style="margin-bottom:50px">
                                <a href="#">
                                    <img src="~/assets1/layouts/layout3/img/LOG2.jpg" alt="logo" class="logo-default" width="90" height="90">
                                </a>
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            <a href="javascript:;" class="menu-toggler"></a>
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            <div class="top-menu">
                                <ul class="nav navbar-nav pull-right">
                                </ul>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    <div class="page-header-menu">
                        <div class="container">
                            <div class="hor-menu">
                                <ul class="nav navbar-nav">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <!-- END MEGA MENU -->
                        </div>
                    </div>
                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <div class="page-content" style="padding:25px !important">
                            <div class="container">
                                <div class="portlet box " style="background-color:#444d58">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-login" style="color:white"></i>&nbsp;Admin Login
                                        </div>
                                        <div class="tools">
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-body">
                                            <div class="form-horizontal">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="portlet light bordered table-responsive">
                                                            <div class="portlet-body">
                                                                <div class="tab-content">
                                                                    <div class="tab-pane active" id="tab_actions_pending">
                                                                        @RenderBody()
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                <!-- BEGIN FOOTER -->
                <!-- BEGIN PRE-FOOTER -->
                <div class="page-prefooter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12 footer-block">
                                <h2>About</h2>
                                <p> Thank you for using OurParking.space. If you have any questions or concerns, please email at ourparkingspacecompany@gmail.com and we will get back to you as soon as possible. Alternatively, you can call us at (802)-546-1017. </p>
                            </div>
                            @*<div class="col-md-2 col-sm-6 col-xs12 footer-block">
                                    <h2>Subscribe Email</h2>
                                    <div class="subscribe-form">
                                        <form action="javascript:;">
                                            <div class="input-group">
                                                <input type="text" placeholder="mail@email.com" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn" type="submit">Submit</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>*@
                            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                                <h2>Follow Us On</h2>
                                <ul class="social-icons">

                                    <li>
                                        <a href="https://www.facebook.com/Ourparkingspace/" target="_blank" data-original-title="facebook" class="facebook"></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ourparkingspace" target="_blank" data-original-title="twitter" class="twitter"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/ourparkingspace/" target="_blank" data-original-title="linkedin" class="linkedin"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 footer-block">
                                <h2>Contacts</h2>
                                <address class="margin-bottom-40">
                                    Phone: 802 546 1017
                                    <br> Email:
                                    <a href="mailto:ourparkingspacecompany@gmail.com">ourparkingspacecompany@gmail.com</a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRE-FOOTER -->
                <!-- BEGIN INNER FOOTER -->
                <div class="page-footer">
                    <div class="container">
                        &copy; Copyright &copy; @DateTime.Now.Year -<a href="#" target="_blank"> @System.Configuration.ConfigurationManager.AppSettings["GlobalLongName"] </a> All rights reserved.
                    </div>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END INNER FOOTER -->
                <!-- END FOOTER -->
            </div>
        </div>
    </div>

    <!-- BEGIN QUICK NAV -->
    @*<nav class="quick-nav">
            <a class="quick-nav-trigger" href="#0">
                <span aria-hidden="true"></span>
            </a>
            <ul>
                <li>
                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" target="_blank" class="active">
                        <span>Purchase Metronic</span>
                        <i class="icon-basket"></i>
                    </a>
                </li>
                <li>
                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/reviews/4021469?ref=keenthemes" target="_blank">
                        <span>Customer Reviews</span>
                        <i class="icon-users"></i>
                    </a>
                </li>
                <li>
                    <a href="http://keenthemes.com/showcast/" target="_blank">
                        <span>Showcase</span>
                        <i class="icon-user"></i>
                    </a>
                </li>
                <li>
                    <a href="http://keenthemes.com/metronic-theme/changelog/" target="_blank">
                        <span>Changelog</span>
                        <i class="icon-graph"></i>
                    </a>
                </li>
            </ul>
            <span aria-hidden="true" class="quick-nav-bg"></span>
        </nav>
        <div class="quick-nav-overlay"></div>*@
    <!-- END QUICK NAV -->
    <!--[if lt IE 9]>
    <script src="~/assets1/global/plugins/respond.min.js"></script>
    <script src="~/assets1/global/plugins/excanvas.min.js"></script>
    <script src="~/assets1/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets1/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @*<script src="~/assets1/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>*@
    <script src="~/assets1/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="~/assets1/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>


    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets1/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets1/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    @*<script src="~/assets1/pages/scripts/form-input-mask.min.js" type="text/javascript"></script>*@
    <script src="~/assets1/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets1/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets1/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets1/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/assets1/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>

    @RenderSection("scripts", required: false)

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</body>
</html>
