﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script src="~/scripts/App/Home.js"></script>
<style>
    .cross {
        position: relative;
        display: inline-block;
    }

        .cross::before, .cross::after {
            content: '';
            width: 100%;
            position: absolute;
            right: 0;
            top: 45%;
        }

        .cross::before {
            border-bottom: 1px solid black;
            -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
        } 
    .input-medium {
        width: 100% !important;
    }
</style>
<script>
    $(window).load(function () {
        $('#myModal').modal('show');
    });
</script>
<div class="portlet box " style="background-color:#444d58">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-pointer" style="color:white"></i>Our Parking Location
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                @*<div class="form-body">*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered table-responsive">
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_actions_pending">
                                        <!-- BEGIN: Actions -->
                                        @foreach (var item in ViewBag.ParkingDataList)
                                        {
                                            <div class="mt-actions">
                                                <div class="mt-action">
                                                    <div class="mt-action-img">
                                                        @*<a href="#" onclick="GetMap(@item.Id);">*@
                                                        <a href="@item.MapLink" target="_blank">
                                                            <img src="~/assets/global/plugins/mapplic/mapplic/images/pin-yellow@2x.png" />
                                                        </a>
                                                    </div>
                                                    <div class="mt-action-body">
                                                        <div class="mt-action-row table-responsive">
                                                            <div class="mt-action-info ">
                                                                <div class="mt-action-details ">
                                                                    <span class="mt-action-author">
                                                                        <a href="@item.MapLink" target="_blank">
                                                                            @item.LotName
                                                                        </a>
                                                                    </span>
                                                                    <p class="mt-action-desc">
                                                                        @item.Address, @item.City, @item.State, @item.Country - @item.ZipCode
                                                                        <br />Event Price :
                                                                        @if (item.RealPrice == 0)
                                                                        {
                                                                            <span>$</span><span>@item.EventPrice</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="cross">$@item.RealPrice</span> <span>-</span> <span>$@item.EventPrice</span>
                                                                        }
                                                                        @*<br />Event Price :<span class="cross">$@item.RealPrice</span> -  $@item.EventPrice*@
                                                                        <br /><b>Distance from venue: @item.DistanceFromVanue</b>
                                                                        @if (item.Available <= 0)
                                                                        {
                                                                            <br /><b style="color:gray">Available Parking Space : 0</b>
                                                                        }
                                                                        else
                                                                        {
                                                                            <br /><b style="color:blue">Available Parking Space : @item.Available Cars</b>
                                                                        }

                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="mt-action-buttons">
                                                                <div class="btn-group">
                                                                    @if (item.Available <= 0)
                                                                    {
                                                                        <button type="button" class="btn btn-outline green btn-sm hiddenControl" onclick="MakeBooking(@item.Id)" data-toggle="tooltip" title="Buy1 Spot!">Buy1 Spot</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="button" class="btn btn-outline green btn-sm" onclick="MakeBooking(@item.Id)" data-toggle="tooltip" title="Buy1 Spot!">Buy1 Spot</button>
                                                                    }
                                                                </div>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-outline green btn-sm" id="eventpriceupdate" onclick="UpdatePrices(@item.Id)" data-toggle="tooltip" title="Price">Update Price</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!-- END: Actions -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs_YwiBHhi7eO_q8tY29Dm41gGKOXEEXY&v=3.exp&callback" type="text/javascript"></script>*@
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaoPuPJZxGs_Z_tboS7Jn9hA504y6j0Kg&callback"></script>
<script type="text/javascript">
    function UpdatePrices(Id) {
        window.location = baseUrl + '/Admin/UpdatePrices?Id='+Id;
    }

    function GetMap(Id) {

        $.ajax({
            url: baseUrl + "/Home/GetLocation/" + Id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {

                var markers = result;
                var mapOptions = {
                    center: new google.maps.LatLng(markers[0].Lat, markers[0].Long),
                    zoom: 4,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var infoWindow = new google.maps.InfoWindow();
                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

                //Create LatLngBounds object.
                //var latlngbounds = new google.maps.LatLngBounds();

                var icon = {
                    url: "../assets/global/plugins/mapplic/mapplic/images/pin-yellow@2x.png", // url
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                var data = markers
                var myLatlng = new google.maps.LatLng(data[0].Lat, data[0].Long);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data[0].LotName
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent("<div style = 'width:200px;min-height:50px'><b>" + data[0].LotName + "</b><br>" + data[0].Address + '<br/>' + data[0].City + ', ' + data[0].State + ' ' + data[0].Country + ' ' + data[0].ZipCode + "</div>");
                        infoWindow.open(map, marker);
                    });
                })(marker, data);

                //latlngbounds.extend(marker.position);

                ////Get the boundaries of the Map.
                //var bounds = new google.maps.LatLngBounds();
                //Center map and adjust Zoom based on the position of all markers.
                //map.setCenter(latlngbounds.getCenter());
                //map.fitBounds(latlngbounds);

                $('#myModalMap').modal('show');

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function ViewDetails(Id) {

        $.ajax({
            url: baseUrl + "/Home/GetLocation/" + Id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {

                //document.getElementById('lblLotName').innerText = result[0].LotName;
                //document.getElementById('lblAddress').innerText = result[0].Address;

                $('#Id').val(result[0].Id);
                $('#LotName').val(result[0].LotName);
                var Address = result[0].Address + ', ' + result[0].City + ', ' + result[0].State + ', ' + result[0].Country + ' ' + result[0].ZipCode;
                $('#Address').val(Address);
                $('#Capacity').val(result[0].Capacity);
                $('#StartTime').val(result[0].StartTime);
                $('#EndTime').val(result[0].EndTime);
                $('#EventPrice').val(result[0].EventPrice);
                $('#HourPrice').val(result[0].HourPrice);

                $('#EventPrice1').val("$" + result[0].EventPrice);
                $('#HourPrice1').val("$" + result[0].HourPrice);


                $('#myModalDetails').modal('show');

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function MakeBooking(Id) {
        window.location = baseUrl + '/AdminBooking/Index?Id=' + Id;
    }

    //function UpdatePrice(Id) {
    //    debugger;
    //    $.ajax({
    //        url: baseUrl + "/Admin/UpdatePrice/" + Id,
    //        typr: "GET",
    //        contentType: "application/json;charset=UTF-8",
    //        dataType: "json",
    //        //success: function (result) {
    //        //    debugger;
    //        //    $('#EventPrice').val(result[0].EventPrice);
    //        //    $('#myModalContent').html(data);
    //        //    $('#myModals').modal(options);
    //        //    $('#myModals').modal('show');
    //        //},
    //        //error: function (errormessage) {
    //        //    alert(errormessage.responseText);
    //        //}
    //    }).success(function (result) {
    //        $("#EventPrice").val(result.eventPrice);
    //        $("#myModalContent").html(result);
    //        $('#myModals').modal('show');
    //    });
            
        
    //}
</script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#eventpriceupdate").click(function () {
    //        $('#myModal').modal('show');
    //    });
    //});
</script>
<label id="lblLotName"></label>
<label id="lblAddress"></label>

@*<div id='myModals' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
                <p>
                    EventPrice : <input type="text" id="EventPrice" value="" />
                </p>
            </div>
            <hr />
            <button type="button" class="btn btn-outline green btn-sm" onclick="Update()" data-toggle="tooltip" title="Buy1 Spot!">Update</button>
        </div>
    </div>
</div>*@

<div class="modal fade bs-modal-lg" id="myModalDetails" style="overflow:hidden;" role="dialog" aria-labelledby="myModalDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalDetailsLabel"><b>Parking Details</b></h4>
            </div>
            <form id="InsertForm1" name="InsertForm1" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="portlet-body form">
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control hiddenControl" id="Id" placeholder="Id" disabled="disabled" />
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="LotName">Lot Name</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="LotName" onkeyup="ChangeCase(this)" placeholder="Parking Lot Name" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="Address">Address</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control" rows="2" id="Address" placeholder="Address" disabled="disabled"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="Capacity">Capacity</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="Capacity" onkeypress="return isNumberKey1(event)" placeholder="Capacity" disabled="disabled" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="StartTime">Start Time</label>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="StartTime" name="StartTime" placeholder="Start Time" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="EndTime">End Time</label>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="EndTime" name="EndTime" placeholder="End Time" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="EventPrice">Event Price</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control hiddenControl" id="EventPrice" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" disabled="disabled" />
                                                        <input type="text" class="form-control" id="EventPrice1" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" disabled="disabled">
                                                    </div>
                                                    <label class="col-md-2 control-label" for="HourPrice">Hour Price</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control hiddenControl" id="HourPrice" onkeypress="return isNumberKey(this, event);" placeholder="Hour Price" disabled="disabled" />
                                                        <input type="text" class="form-control" id="HourPrice1" onkeypress="return isNumberKey(this, event);" placeholder="Hour Price" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green-haze" id="btnAdd" onclick="MakeBooking()">Buy1 Spot</button>
                    <button type="button" class="btn red-haze" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="myModalMap" style="overflow:hidden;" role="dialog" aria-labelledby="myModalMapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalMapLabel"><b>Map</b></h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="dvMap" class="card" style="width: 100%; height: 400px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Our Parking Space</h4>
            </div>
            <div class="modal-body">
                <center>
                    @*<img src="~/Group.png" width="100%" />*@
                    <img src="~/_BookParking.jpg" width="100%" />
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<link href="~/toastr.css" rel="stylesheet" />
<script src="~/toastr.js"></script>

