﻿@model MVCDatatable.Models.AdminUser
@{
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
    Layout = "~/Views/Shared/LoginFormLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        /*body {
            margin: 20pt !important;
        }*/

        .error {
            color: red;
        }
        #validate,#validates{
            display:none;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' media="screen" />

    @using (Html.BeginForm())
    {
        <div style="max-width: 330px;">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id="txtUserName"})
            <div>
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error", id="validate"})
            </div>
            <br /> 
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", Id="Password"})
            <div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" , id = "validates" })
            </div>
            <br />
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.RememberMe)
                @Html.LabelFor(u => u.RememberMe)
            </div>
            <br />
            <input type="submit" value="Submit" id="submitlogin" class="btn btn-primary" />&nbsp;&nbsp;<input type="submit" value="Cancel" id="canclebutton" class="btn btn-info" />
            <br />
            <br />
            <div id="dvMessage" style="display:none" class="alert alert-danger">
                <strong>Error!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>
    }
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                $("#dvMessage").show();
            });
        </script>
    }
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        @ViewBag.Message = null;
    });
</script>
<script type="text/javascript">
    $("#submitlogin").click(function () {
        $("#validate").show();
        $("#validates").show();
    });
</script>
<script type="text/javascript">
    $("#canclebutton").click(function () {
        $("#txtUserName").val('');
        $("#Password").val('');
        $("#validate").hide();
        $("#validates").hide();
    });
</script>
<script type="text/javascript">
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</script>