﻿@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script src="~/scripts/App/Success.js"></script>
<script type="text/javascript">function ChangeCase(sender) {
        sender.value = sender.value.toUpperCase();
    }

    function isNumberKey1(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNumberKey(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        ////get the carat position
        //var caratPos = getSelectionStart(el);
        //var dotPos = el.value.indexOf(".");
        //if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
        //    return false;
        //}
        return true;
    }</script>
<script type="text/javascript">function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewHolder').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }</script>
<style>

    .select2.select2-container.select2-container--bootstrap {
        width: 100% !important;
    }
</style>
<style>

    .input-medium {
        width: 100% !important;
    }
</style>
<div class="portlet box " style="background-color:#444d58">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-thumbs-o-up" style="color:white"></i>Payment Success
        </div>
        <div class="actions"></div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <div class="portlet box ">
                        <div class="portlet-body">
                            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <center>
                                            <h1 style="color:darkgreen">Payment Received Successfully.</h1>
                                            <br />
                                            Booking done for parking lot name : <b><label id="lblLotName" style="font-weight:bold"></label></b> <br /><br />

                                            <table>
                                                <tr>
                                                    <td style="text-align:right"><b>Booking Number : </b></td>
                                                    <td>&nbsp;</td>
                                                    <td><b style="font-size:large;color:blue"> <label id="lblBookingNo"></label></b></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:right"><b>Transaction Number : </b> </td>
                                                    <td>&nbsp;</td>
                                                    <td><b style="font-size:large;"> <label id="lblTransactionNumber"></label></b></td>
                                                </tr>
                                            </table>


                                            <br /><br /><br /><br />
                                            <a href="{MapLink}" id="MyMap" target="_blank" style="text-decoration: none;" class="btn btn-danger">View Map</a>
                                            &nbsp;
                                            <a href="~/Admin/Index" style="text-decoration: none;" class="btn btn-primary">Park Now</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/LoaderStyle.css" rel="stylesheet" />
<div class="overlay hiddenControl" id="isLoading">
    <div class="myloader">
        <img src="~/loader.gif" />
    </div>
</div>

<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script type="text/javascript">toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }</script>
