﻿@{
    ViewBag.Title = "UpdatePrice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @ViewBag.EventPrice
}
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<div class="portlet box " style="background-color:#444d58" id="myModal">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-calendar-check-o" style="color:white"></i>Update Event Price
        </div>
        <div class="actions"></div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <div class="portlet box ">
                        <div class="portlet-body">
                            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                <form id="InsertForm1" name="InsertForm1" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control hiddenControl" id="Id" placeholder="Id" disabled="disabled" />
                                            <input type="text" class="form-control hiddenControl" id="EventPrice" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" disabled="disabled" />
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="LotName">Parking Lot Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="LotName" placeholder="Parking Lot Name" disabled="disabled" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Event Price</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="EventPrice2" onkeypress="return isNumberKey(this, event);" placeholder="Event Price"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">&nbsp;</label>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-success" id="btnBooking1" onclick="return UpdatePrice();">Update</button>
                                                </div>
                                                <div class="col-md-1">
                                                    <a href="~/Admin/Index/" class="btn btn-danger" onclick="clearTextBox()">Cancel</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function UpdatePrice() {

    }
</script>
<script type="text/javascript">
    $(document).getElementById('LotName').val(@ViewBag.EventPrice.LotName);
    $(document).getElementById('EventPrice2').val(@ViewBag.EventPrice.EventPrice);
</script>
