﻿@{
    ViewBag.Title = "UpdatePrices";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @*@ViewBag.EventPrice*@
}
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<div class="portlet box " style="background-color:#444d58" id="myModal">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-calendar-check-o" style="color:white"></i>Update Event Price
        </div>
        <div class="actions"></div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <div class="portlet box ">
                        <div class="portlet-body">
                            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                <form id="InsertForm1" name="InsertForm1" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" id="eventid" value="@ViewBag.EventPrice.Id" hidden="hidden"/>
                                            <input type="text" class="form-control hiddenControl" id="Id" placeholder="Id" disabled="disabled" />
                                            <input type="text" class="form-control hiddenControl" id="EventPrice" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" disabled="disabled" />
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="LotName">Parking Lot Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="LotName" placeholder="Parking Lot Name" value="@ViewBag.EventPrice.LotName" disabled="disabled" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Event Price</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="EventPrice2" value="@ViewBag.EventPrice.eventPrice" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">&nbsp;</label>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-success" onclick="SaveAndUpdate()">Update</button>
                                                </div>
                                                <div class="col-md-1">
                                                    <a href="~/Admin/Index/" class="btn btn-danger" onclick="clearTextBox()">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function SaveAndUpdate() {
        var id = $("#eventid").val();
        var EventPrice = $("#EventPrice2").val();
        window.location = 'https://ourparking.space' + '/Admin/SaveUpdatedPrice?Id=' + id + '&eventprice=' + EventPrice;
        //window.location = 'http://localhost:1757' + '/Admin/SaveUpdatedPrice?Id=' + id + '&eventprice=' + EventPrice;
    }
</script>

