﻿@{
    Layout = null;
}

@foreach (var item in ViewBag.GameRecord)
{
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <header class="w3-container w3-blue">
                Parking Lot name
                <h4><b>@item.LotName</b></h4>
            </header>
            <div class="w3-container">
                <b>License Plate : </b> @item.LicensePlate<br />
                <br />
                <b>Booking Date :</b> @item.BookingDate
            </div>
        </div>
    </div>
}