
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
.logo-font { font-family: 'Cinzel', serif!important;}
.page-header.navbar .menu-toggler {
    display: block;
    cursor: pointer;
    opacity: .6;
    filter: alpha(opacity=60);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('layouts/layout2/img/sidebar-toggler.png');
}

.form .form-actions, .portlet-form .form-actions { background:#fff; padding:10px; }

.btn.green:not(.btn-outline),.btn.green:not(.btn-outline).active.focus, .btn.green:not(.btn-outline).active:focus, .btn.green:not(.btn-outline).active:hover, .btn.green:not(.btn-outline):active.focus, .btn.green:not(.btn-outline):active:focus, .btn.green:not(.btn-outline):active:hover, .open>.btn.green:not(.btn-outline).dropdown-toggle.focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:hover,
.btn.yellow:not(.btn-outline){   color: #FFF;    background-color: #00d130;    border-color: #00d130; }
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {  color: #FFF;   background-color: #00d130;}
.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open>.btn.green:not(.btn-outline).dropdown-toggle,
.btn.yellow:not(.btn-outline).active, .btn.yellow:not(.btn-outline):active, .btn.yellow:not(.btn-outline):hover, .open>.btn.yellow:not(.btn-outline).dropdown-togglek command,
.btn.yellow:not(.btn-outline):focus, .btn.yellow:not(.btn-outline):focus {
    color: #FFF;    background-color: #00d130;   border-color: #00d130; }
.btn.yellow:not(.btn-outline).active.focus, .btn.yellow:not(.btn-outline).active:focus, .btn.yellow:not(.btn-outline).active:hover, 
.btn.yellow:not(.btn-outline):active.focus, .btn.yellow:not(.btn-outline):active:focus, .btn.yellow:not(.btn-outline):active:hover, 

.btn-blue-1     { background-color:#7986cc; border-color:#7986cc; }
.btn-blue-2     { background-color:#825fc5; border-color:#825fc5; }
.btn-blue-3     { background-color:#4dd0e2; border-color:#4dd0e2; }
.btn-blue-4     { background-color:#c5caea; border-color:#c5caea; }

.btn-black-1    { background-color:#3b454c; border-color:#3b454c; }
.btn-black-2    { background-color:#536069; border-color:#536069; }

.btn-red-1      { background-color:#fb2f2a; border-color:#fb2f2a; }
.btn-red-2      { background-color:#fa5753; border-color:#fa5753; }

.btn-yellow-2      { background-color:#ffd650; border-color:#ffd650; }

.btn-green-1      { background-color:#4cb050; border-color:#4cb050; }
.btn-green-2      { background-color:#82c786; border-color:#82c786; }

.btn-white-1    { background-color:#ffffff; border-color:#ffffff; color:#3b454c; }
.btn-white-2    { background-color:#f4f4f6; border-color:#f4f4f6; color:#3b454c; }

.open>.btn.yellow:not(.btn-outline).dropdown-toggle.focus, .open>.btn.yellow:not(.btn-outline).dropdown-toggle:focus, 
.open>.btn.yellow:not(.btn-outline).dropdown-toggle:hover{ color: #FFF;    background-color: #00d130;   border-color: #00d130;}
.page-header.navbar { height:auto;  display:block; float:left; min-height: 60px;  width:100%; background:#00d130;     border-radius: 0px!important;}
.page-top {background:none;}
.page-top .navbar-nav, .page-header.navbar .top-menu .navbar-nav{ background:#fff;     margin-right: 20px;   display: block;    border-radius: 0px!important;    padding: 5px;}
.page-top .com-name {color:#fff; margin:auto; font-size:24px; font-weight:400; position:absolute; top:15px; left:15%;}
.page-top .subs-name {margin:auto; font-size:14px; font-weight:200; position:absolute; top:25px; left:38%;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default { background-color : #67809F; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default2 {background-color : #00d130;}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover { background-color : #00d130;}
.page-content, .portlet.light, body, .page-content-wrapper .page-content { background:#f3f4f5; }
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-content, .portlet.light { background:#fff;}
.page-sidebar-wrapper .page-sidebar { margin-top:25px;}

.table.table-light>thead>tr>th { padding:5px;}
.table.table-light>tbody>tr>td { padding:0px 5px;}
/* */
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a { background: #00d130;   color: #fff;}
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, 
.page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, 
.page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {    color: #fff;}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a { background: #00d130   ;} /*For UL Menu*/
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i, 
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i {   color: #fff;}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {   color: #fff;}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a { background: #00d130;  border-top-color: transparent; color: #fff;}
.btn.btn-outline.red {    border-color: #00d130;   color: #00d130;    background: 0 0;}
.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red {    background-color: #00d130;}
.portlet.box.red {    border: 1px solid #00d130;    border-top: 0;}


.btn, .portlet>.portlet-title>.actions>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, .portlet>.portlet-title>.actions>.btn.btn-sm,
.portlet>.portlet-title>.actions>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, .portlet>.portlet-title>.actions>.btn.btn-sm {
    padding:7px 12px;  width:auto;   font-size: 13px;    line-height:normal; background:#00d130; border-color:#00d130; color:#fff;}
.table td { line-height:30px!important;}

   

.icon-container { display:block; color:#fff; text-align:center; padding:30px 0px; width:100%; font-size:40px; background:#f6f6f6;}
.icon-con:before { font-size:48px; color:#333; }
.report-main-con .box-con-inn {-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out; }
.report-main-con .box-con-inn:hover .thumbnail { border-color:#fff;}
.report-main-con .box-con-inn:hover .icon-container, .report-main-con .box-con-inn:hover .caption { box-shadow: 0px 0px 30px #b7b7b7; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;  }
.report-main-con .box-con-inn:hover .icon-container { background:#00d130; }
.report-main-con .box-con-inn:hover .icon-con:before { color:#fff;}

.box-con-inn .caption li:hover { background:#f6f6f6; }
.box-con-inn .caption li:hover a, .box-con-inn .caption li:hover a:link, .box-con-inn .caption li:hover a:visited { color:#000;}
.box-con-inn:nth-child(4n+1) { clear:both; }

.app-info-con { }
.app-info-con .name { font-size:18px; text-transform:uppercase; width:100%; float:left;}
.app-info-con .mobile { font-size:18px; text-transform:uppercase; width:100%; float:left;}


.todo-tasklist-item-border-green { margin:0px 0px 15px 15px; padding:0px; background:#fff; border:solid 0px #333; border-width:1px 3px 3px 1px; border-color:#f4f4f6 #f4f4f6 #e0e0e5 #f4f4f6; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px;}
.todo-tasklist-item-border-green:hover, div .todo-tasklist-item:hover { background:#f6f6f6;}
.todo-tasklist-item-border-green .todo-tasklist-item-title { padding:7px 15px; margin:0px 0px 10px; background:#eaeaea; font-size:18px; color:#333;  border-radius:0px!important; -webkit-border-radius:0px!important; -moz-border-radius:0px!important; }

.appoin-info-con{ background:#fff!important; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}
.appoin-info-con:hover{ background:#fff!important; border-color:#eee #eee #eee #eee; box-shadow:0px 0px 10px #e4e4e4;}
.inn-con { line-height:30px;}
.inn-con .title { width:75px; display:inline-block; font-weight:600; color:#000;}

.appoin-info-con .inn-con-td { display:table-cell; float:none; vertical-align:middle;}
.appoin-info-con .inn-con { border-bottom:solid 1px #eee; padding:5px;}

.date-con.inn-con { text-align:center;}
.date-con.inn-con .title { width:100%; }
.date-con.inn-con .value { clear:both; margin:10px auto;}

.time-con.inn-con { text-align:center; }
.time-con.inn-con .title { width:100%; text-align:center;}
.time-con.inn-con .value { clear:both; margin:10px auto;}

.menu-toggler { color:#fff; font-size:24px; margin:20px;}

.menu-toggler:hover{ color:#333;}

@media screen and (max-width:1600px) {
.page-top .com-name { font-size: 20px;  top: 15px;  left: 18%;}
}
@media screen and (max-width:1300px) {
.page-top .com-name { font-size: 20px;  top: 15px;  left:22%;}
.form .form-body, .portlet-form .form-body {    padding: 5px;}
.todo-tasklist-item-border-green .todo-tasklist-item-title { text-align:center;}
.appoin-info-con .inn-con-td {    display: block;    float: left;    vertical-align: middle;    width: 100%;    text-align: center;}

.appoin-info-con .inn-con-td .inn-con:nth-child(2n+1){  background:#f6f6f6;}
}
@media screen and (max-width:990px) {
.page-top .com-name { display:none;}
.page-header.navbar .top-menu, .top-menu { clear:both; margin:0px 0px; float:right;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown { padding:0px 0px; margin:0px 0px 0px 20px;}
.page-header.navbar .top-menu, .page-header.navbar .top-menu>ul, .page-header.navbar .top-menu>ul>li { background:none;}
.page-top .navbar-nav, .page-header.navbar .top-menu .navbar-nav, .page-top .navbar-nav .dropdown-toggle, .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle { background:none;}

.nav navbar-nav.pull-right, .page-top .navbar-nav, .page-header.navbar .top-menu .navbar-nav { margin:0px;}
}