﻿a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.tab .nav-tabs {
    border: none;
    border-bottom: 2px solid #079fc9;
    margin: 0;
}

    .tab .nav-tabs li a {
        padding: 10px 20px;
        margin: 0 10px -1px 0;
        font-size: 17px;
        font-weight: 600;
        color: #293241;
        text-transform: uppercase;
        border: 2px solid #e6e5e1;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        z-index: 1;
        position: relative;
        transition: all 0.3s ease 0s;
    }

        .tab .nav-tabs li a:hover,
        .tab .nav-tabs li.active a {
            background: #fff;
            color: #079fc9;
            border: 2px solid #079fc9;
            border-bottom-color: transparent;
        }

        .tab .nav-tabs li a:before {
            content: "";
            display: block;
            height: 2px;
            background: #fff;
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }

        .tab .nav-tabs li.active a:before,
        .tab .nav-tabs li a:hover:before {
            transform: scaleX(1);
        }

.tab .tab-content {
    padding: 10px;
    font-size: 17px;
    color: #6f6f6f;
    line-height: 30px;
    letter-spacing: 1px;
    position: relative;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs {
        border: none;
    }

        .tab .nav-tabs li {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }

            .tab .nav-tabs li a {
                margin: 0;
                border-bottom: 2px solid transparent;
            }

                .tab .nav-tabs li a:before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: #079fc9;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                }
}

.hower {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}
    .hower:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 42px;
        background: rgba(255,255,255,0.3);
        border-radius: 5px;
        transition: all 2s ease;
    }
    .hower:hover:before {
        width: 100%;
    }

.cross {
    position: relative;
    display: inline-block;
}

    .cross::before, .cross::after {
        content: '';
        width: 100%;
        position: absolute;
        right: 0;
        top: 45%;
    }

    .cross::before {
        border-bottom: 1px solid black;
        -webkit-transform: skewY(-10deg);
        transform: skewY(-10deg);
    }