﻿@indigo-color:#8291e3;

@indigo:#8291e3;
@indigo-side:#a8b3ec;
@indigo-side-hover:#bac4fa;
@indigo-side-active:#a3aeea;

@apple-green: #8BC34A;
@apple-green-side:#c1e39a;
@apple-green-side-hover:#b3dc84;
@apple-green-side-active:#a2d567;

@deep-purple:#b37cc5;
@deep-purple-side:#d9b6e5;
@deep-purple-side-hover:#cfa2de;
@deep-purple-side-active:#ca92dc;

@charcol:#8F8787;
@charcol-side:#b6b4b4;
@charcol-side-hover:#aea7a7;
@charcol-side-active:#9e9494;

@blue-green:#0aa0c1;
@blue-green-side:#73d2e7;
@blue-green-side-hover:#4dc4de;
@blue-green-side-active:#27b6d6;

@american-rose:#fd786f;
@american-rose-side:#fbb8b3;
@american-rose-side-hover:#fba59f;
@american-rose-side-active:#fd928b;

@charcol:#8F8787;
@blue-green:#0aa0c1;
@american-rose:#ff847c;

@apple-green-btn-green-1:#7FB414;
@apple-green-btn-dark-1:#359768;
@btn-yellow-light-1:#f5cc62;
@btn-yellow-1:#F9B248;

@btn-red-1:#F46060;
@btn-red-light-1:#FC3A52;

@color-white:#fff;
@color-black:#000;
@color-black-2:#333;
@color-black-3:#555;
@color-black-4:#999;
@color-gray-1:#f3f4f5;


.btn.btn-outline.red.active, .btn.btn-outline.red:active, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:focus, .btn.btn-outline.red:hover {
    border-color: #337ab7;
    color: #fff;
    background-color: #337ab7;
}
.font-red, .font-green {    color:@color-black!important;}
.btn.red.btn-outline{ background:none; color:@color-black; }
.btn, .btn.red, .btn.red:not(.btn-outline), .btn.red.btn-outline.sbold { background:@apple-green-btn-green-1; border-color:@apple-green-btn-green-1; color:@color-white;}    
.btn.yellow { background:@btn-yellow-1!important; border-color:@btn-yellow-1!important;}
.btn.yellow:hover, .btn.yellow:focus { background:@btn-yellow-light-1!important; border-color:@btn-yellow-light-1!important;}
.btn.blue  { background:@apple-green-btn-dark-1; border-color:@apple-green-btn-dark-1; }
.btn.red-haze, .red-haze { background:@btn-red-1; border-color:@btn-red-1;}

.page-sidebar-menu, .page-sidebar-menu a, .page-sidebar-menu a:visited { color:@color-black-3;}
.page-sidebar-menu .nav-item.indigo a {background:@indigo-color!important;  color:@color-white!important;}
.page-sidebar-menu .nav-item.apple-green a {background:@apple-green!important;  color:@color-white!important;}
.page-sidebar-menu .nav-item.deep-purple a {background:@deep-purple!important;  color:@color-white!important;}
.page-sidebar-menu .nav-item.charcol a {background:@charcol!important;  color:@color-white!important;}
.page-sidebar-menu .nav-item.blue-green a {background:@blue-green!important;  color:@color-white!important;}
.page-sidebar-menu .nav-item.american-rose a {background:@american-rose!important;  color:@color-white!important;}


.btn.indigo{ background:@indigo!important; border-color:@indigo!important;}
.btn.deep-purple{ background:@deep-purple!important; border-color:@deep-purple!important;}
.btn.apple-green{ background:@apple-green!important; border-color:@apple-green!important;}
.btn.charcol{ background:@charcol!important; border-color:@charcol!important;}
.btn.blue-green{ background:@blue-green!important; border-color:@blue-green!important;}
.btn.american-rose{ background:@american-rose!important; border-color:@american-rose!important;}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default2{ background:@color-black-2;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default { background:@color-black-4;}

body {
  
  &.indigo { 
    .user-login-5 .login-container>.login-content .login-header,
    .page-header.navbar,.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
    .report-main-con .box-con-inn:hover .icon-container { background:@indigo;}
    .portlet.box.red { border-color:@indigo;}
    .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{ background:@indigo-side-active;}
    .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,    
    .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a { background:@indigo-side-hover!important;}    
    
    .btn, .btn.red, .btn.red:not(.btn-outline), .btn.red.btn-outline.sbold { background:@indigo; border-color:@indigo;}
    .btn.blue{ background:@indigo-side-hover; border-color:@indigo-side-hover;}
  }

  &.apple-green {    
    .user-login-5 .login-container>.login-content .login-header,
    .page-header.navbar,.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
    .report-main-con .box-con-inn:hover .icon-container { background:@apple-green;}
    .portlet.box.red { border-color:@apple-green;}
    .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{background:@apple-green-side-active;}
    .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,
    
    .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a { background:@apple-green-side-hover!important;}
  }

  &.deep-purple { 
    .user-login-5 .login-container>.login-content .login-header,
    .page-header.navbar,.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
    .report-main-con .box-con-inn:hover .icon-container { background:@deep-purple;}
    .portlet.box.red { border-color:@deep-purple;}
    .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{ background:@deep-purple-side-active;}
    .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,
    
    .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a { background:@deep-purple-side-hover!important;}
    
    
    .btn, .btn.red, .btn.red:not(.btn-outline), .btn.red.btn-outline.sbold { background:@deep-purple; border-color:@deep-purple;}
    .btn.blue{ background:@deep-purple-side-hover; border-color:@deep-purple-side-hover;}
  }

  &.charcol { 
    .user-login-5 .login-container>.login-content .login-header,
    .page-header.navbar,.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
    .report-main-con .box-con-inn:hover .icon-container { background:@charcol;}
    .portlet.box.red { border-color:@charcol;}
    .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{ background:@charcol-side-active;}
    .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,
    
    .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a { background:@charcol-side-hover!important;}
    
    
    .btn, .btn.red, .btn.red:not(.btn-outline), .btn.red.btn-outline.sbold { background:@charcol; border-color:@charcol;}
    .btn.blue{ background:@charcol-side-hover; border-color:@charcol-side-hover;}
  }

  &.blue-green { 
    .user-login-5 .login-container>.login-content .login-header,
    .page-header.navbar,.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
    .report-main-con .box-con-inn:hover .icon-container { background:@blue-green;}
    .portlet.box.red { border-color:@blue-green;}
    .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{ background:@blue-green-side-active;}
    .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,
    
    .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a { background:@blue-green-side-hover!important;}
    
    
    .btn, .btn.red, .btn.red:not(.btn-outline), .btn.red.btn-outline.sbold { background:@blue-green; border-color:@blue-green;}
    .btn.blue{ background:@blue-green-side-hover; border-color:@blue-green-side-hover;}
  }

  &.american-rose { 
    .user-login-5 .login-container>.login-content .login-header,
    .page-header.navbar,.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
    .report-main-con .box-con-inn:hover .icon-container { background:@american-rose;}
    .portlet.box.red { border-color:@american-rose;}
    .page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{ background:@american-rose-side-active;}
    .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a,
    
    .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, 
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a { background:@american-rose-side-hover!important;}
    
    
    .btn, .btn.red, .btn.red:not(.btn-outline), .btn.red.btn-outline.sbold { background:@american-rose; border-color:@american-rose;}
    .btn.blue{ background:@american-rose-side-hover; border-color:@american-rose-side-hover;}
  }
}

.theme-menu {
    color:@color-black; clear:both;  width:100%; list-style:none; margin:0px; padding:0px; display:table;
    .nav-link, .nav-link:visited {color:@color-black;}
    .nav-item { clear:both; float:left; margin:0px 0px 10px 0px; width:100%; list-style:none; border-bottom:solid 1px #f6f6f6;}
    .nav-link { float:left;}
    .nav-item ul { float:right; width:90%;}
    .nav-item .colorbox { float:left; width:19%; padding:5px 0px 5px; margin:0px 0.5%; min-height:25px; list-style:none;  border-radius:0px!important; text-align:center;}
    .nav-item ul .btn { margin-top:-10px; background:none; color:@color-black; border-color:@color-black; text-decoration:none;}
    .nav-item.indigo .color-1 { background:@indigo;}
    .nav-item.indigo .color-2 { background:@indigo-side-active;}
    .nav-item.indigo .color-3 { background:@indigo-side-hover;}
    .nav-item.indigo .color-4 { background:@color-gray-1;}

    .nav-item.apple-green .color-1 { background:@apple-green;}
    .nav-item.apple-green .color-2 { background:@apple-green-side-active;}
    .nav-item.apple-green .color-3 { background:@apple-green-side-hover;}
    .nav-item.apple-green .color-4 { background:@color-gray-1;}

    .nav-item.deep-purple .color-1 { background:@deep-purple;}
    .nav-item.deep-purple .color-2 { background:@deep-purple-side-active;}
    .nav-item.deep-purple .color-3 { background:@deep-purple-side-hover;}
    .nav-item.deep-purple .color-4 { background:@color-gray-1; }

    .nav-item.charcol .color-1 { background:@charcol;}
    .nav-item.charcol .color-2 { background:@charcol-side-active;}
    .nav-item.charcol .color-3 { background:@charcol-side-hover;}
    .nav-item.charcol .color-4 { background:@color-gray-1; }

    .nav-item.blue-green .color-1 { background:@blue-green;}
    .nav-item.blue-green .color-2 {  background:@blue-green-side-active;}
    .nav-item.blue-green .color-3 { background:@blue-green-side-hover;}
    .nav-item.blue-green .color-4 { background:@color-gray-1;}
    
    .nav-item.american-rose .color-1 { background:@american-rose;}
    .nav-item.american-rose .color-2 { background:@american-rose-side-active;}
    .nav-item.american-rose .color-3 { background:@american-rose-side-hover;}
    .nav-item.american-rose .color-4 { background:@color-gray-1;}

}

@media screen and (max-width:1200px) {
    .theme-menu .nav-item { width:31%; margin:0px 2% 0% 0px; clear:none; float:left;}
    .theme-menu .nav-link, .theme-menu .nav-item ul, .nav-item .colorbox { clear:both; float:left; padding:0px; margin:5px 0px; width:100%;}
    .theme-menu .nav-item .colorbox { width:100%;}
    .theme-menu .nav-item ul .btn { margin-top:10px;}
}