﻿@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">


    $(document).ready(function () {
        var foo = getParameterByName('Trn');
        if (foo != null) {
            document.getElementById('lblTransactionNumber').innerText = foo;
        }

        if (typeof history.pushState === "function") {
            history.pushState("jibberish", null, null);
            window.onpopstate = function () {
                history.pushState('newjibberish', null, null);
            };
        }
        else {
            var ignoreHashChange = true;
            window.onhashchange = function () {
                if (!ignoreHashChange) {
                    ignoreHashChange = true;
                    window.location.hash = Math.random();
                }
                else {
                    ignoreHashChange = false;
                }
            };
        }

    });


    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }





    function ChangeCase(sender) {
        sender.value = sender.value.toUpperCase();
    }

    function isNumberKey1(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNumberKey(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        ////get the carat position
        //var caratPos = getSelectionStart(el);
        //var dotPos = el.value.indexOf(".");
        //if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
        //    return false;
        //}
        return true;
    }

</script>
<script type="text/javascript">
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewHolder').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
<style>

    .select2.select2-container.select2-container--bootstrap {
        width: 100% !important;
    }
</style>
<style>

    .input-medium {
        width: 100% !important;
    }
</style>
<div class="portlet box " style="background-color:#444d58">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-call-end" style="color:white"></i>Contact Us
        </div>
        <div class="actions"></div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <div class="portlet box ">
                        <div class="portlet-body">
                            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        Enter for a chance to win free OSU football parking by <a href="mailto:ourparkingspacecompany@gmail.com"> Emailing us</a>
                                        <br />
                                        <h2>Site information</h2>
                                        Thank you for using OurParking.space. If you have any questions or concerns, please email at <a href="mailto:ourparkingspacecompany@gmail.com">ourparkingspacecompany@gmail.com</a> and we will get back to you as soon as possible. Alternatively, you can call us at (802)-546-1017.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/LoaderStyle.css" rel="stylesheet" />
<div class="overlay hiddenControl" id="isLoading">
    <div class="myloader">
        <img src="~/loader.gif" />
    </div>
</div>

<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
