﻿.overlay {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 11000;
            min-height: 100%;
            width: 100%;
            filter: alpha(opacity=75);
            /*filter: alpha(opacity=60);*/
            /*opacity: 0.6;
            -moz-opacity: 0.8;*/
            opacity: 0.75;
            -moz-opacity: 0.75;
        }
.myloader{
    z-index: 1000;opacity: 1;-moz-opacity: 1;left: 45%;position: absolute;top: 45%;
}

.myloader img{
    width:200px;
}