﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TowingLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script src="~/scripts/App/Home.js"></script>
<script>
    setTimeout(function () {
        window.location.reload();
    }, 15000);
</script>
<style>
    .input-medium {
        width: 100% !important;
    }
</style>
<div class="portlet box " style="background-color:#444d58">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-pointer" style="color:white"></i>Our Parking Location
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered table-responsive">
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <h2 style="text-align:center"><b>Parking Information For OSU Vs Tulane</b></h2>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-sm-5">
                                                        <b>Select Parking Lot</b>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="parkinglotgroup" onchange="selectedLotFunction(this.value)">
                                                            <option value="0">-- Select Parking Lot --</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                        </div>
                                        <br />
                                        <!-- BEGIN: Actions -->
                                        <div id="parkinglotrecord">
                                            @foreach (var item in ViewBag.ParkingDataList)
                                            {
                                                <div class="col-sm-4 col-md-4">
                                                    <div class="thumbnail">
                                                        <header class="w3-container w3-blue">
                                                            Parking Lot name
                                                            <h4><b>@item.LotName</b></h4>
                                                        </header>
                                                        <div class="w3-container">
                                                            <b>License Plate : </b> @item.LicensePlate<br />
                                                            <br />
                                                            <b>Booking Date :</b> @item.BookingDate
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <!-- END: Actions -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Towing/GetParkingLotName",
            dataType: "json",
            contentType: "application/json",
            success: function (res) {
                $.each(res, function (data, value) {
                    $("#parkinglotgroup").append($("<option></option>").val(value.ParkingLotId).html(value.ParkingLotName));
                })
            }
        });
    });

    function selectedLotFunction(value) {
        $.ajax({
            url: baseUrl + "/Towing/GetRecordsByParkingLotName/" + value,
            type: "GET",
            contentType: "application/html;charset=UTF-8",
            dataType: "html",
        }).success(function (result) {
            $("#parkinglotrecord").html(result);
        });
    }
</script>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Our Parking Space</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img src="~/BookParking.jpg" width="100%" />
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<link href="~/toastr.css" rel="stylesheet" />
<script src="~/toastr.js"></script>