﻿@{
    Layout = null;
}
@*<script src="~/scripts/App/Booking.js"></script>*@

@foreach (var item in ViewBag.eventparkinglotvalue)
{
    <div class="mt-actions">
        <div class="mt-action">
            <div class="mt-action-img">
                <a href="@item.MapLink" target="_blank">
                    <img src="~/assets/global/plugins/mapplic/mapplic/images/pin-yellow@2x.png" />
                </a>
            </div>
            <div class="mt-action-body">
                <div class="mt-action-row table-responsive">
                    <div class="mt-action-info ">
                        <div class="mt-action-details ">
                            <span class="mt-action-author">
                                <a href="@item.MapLink" target="_blank">
                                    @item.LotName
                                </a>
                            </span>
                            <p class="mt-action-desc">
                                @item.Address, @item.City, @item.State, @item.Country - @item.ZipCode
                                <br />Event Price : $@item.EventPrice @*, Rate/hr : $@item.HourPrice*@
                                <br /><b>Distance from venue: @item.DistanceFromVanue</b>
                                @if (item.Available <= 0)
                                {
                                    <br /><b style="color:gray">Available Parking Space : 0</b>
                                }
                                else
                                {
                                    <br /><b style="color:blue">Available Parking Space : @item.Available Cars</b>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="mt-action-buttons ">
                        <div class="btn-group">
                            @if (item.Available <= 0)
                            {
                                <button type="button" class="btn btn-outline green btn-sm hiddenControl" onclick="MakeBooking(@item.Id)" data-toggle="tooltip" title="Buy1 Spot!">Buy1 Spot</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline green btn-sm" onclick="MakeBooking(@item.Id)" data-toggle="tooltip" title="Buy1 Spot!">Buy1 Spot</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*<script type="text/javascript">
    function MakeSelectedEventBooking(Id) {
        window.location = baseUrl + '/Booking/Index?Id=' + Id;
    }
</script>*@



