﻿@*@model IEnumerable<MVCDatatable.Models.EventInfo>*@
@{
    Layout = null;
}   

    <table class="table">
        <tbody>
            <tr>
                <td><b style="color:blue">Event Name :</b> @ViewBag.eventdetail.EventName</td>
            </tr>
            <tr>
                <td><b style="color:gray">Event Date :</b> @ViewBag.eventdetail.dateofEvent</td>
            </tr>
        </tbody>
    </table>
