﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<link href="~/assets/tab.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script src="~/scripts/App/Home.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    .input-medium {
        width: 100% !important;
    }
</style>
<script>
    $(window).load(function () {
        $('#myModal').modal('show');
    });
</script>

<div class="portlet box " style="background-color:#444d58">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-pointer" style="color:white"></i>Our Parking Location
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="tab" role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Bundle</a></li>
                                </ul>
                                <div class="tab-content tabs">
                                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                                        <p style="font-family:'Lucida Sans', Geneva, Verdana, sans-serif;padding-top:5px;">
                                            <b>Buy Three Game BIG10 Parking Pass</b>
                                        </p>
                                        <div class="col-md-12">
                                            <div class="col-height col-md-2 pull-left card" style="padding-left:0px;">
                                                <img class="card-img-top" src="~/assets/images/Logo.jpg" alt="Events" />
                                            </div>
                                            <div class="col-height col-md-9 pull-right card" id="GCPdiv" style="height:auto;">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Game</th>
                                                                <th scope="col">City</th>
                                                                <th scope="col">Prize</th>
                                                            </tr>
                                                        </thead>
                                                        @*<tbody>
                                                            @foreach (var item in @ViewBag.eventss)
                                                            {
                                                                <tr>
                                                                    <td>@item.EventName</td>
                                                                    <td>Columbus,OH</td>
                                                                    <td><span class="cross">$60</span> - $@item.Prize</td>
                                                                </tr>
                                                            }
                                                        </tbody>*@
                                                        <tbody>
                                                            <tr>
                                                                <td>Indiana</td>
                                                                <td>Columbus,OH</td>
                                                                <td><span class="cross">$60</span> - $50</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Minnesota</td>
                                                                <td>Columbus,OH</td>
                                                                <td><span class="cross">$60</span> - $50</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Nebraska</td>
                                                                <td>Columbus,OH</td>
                                                                <td><span class="cross">$60</span> - $50</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-5"></div>
                                            <div class="col-height col-md-5 pull-right card" style="height:7rem;">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td style="float:right;"><b>Total : </b>$180</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="float:right;"><b>Discount : </b> $30</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="float:right;"><b>You Pay : </b> $150</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-5">
                                                <div class="footer" style="float:right;">
                                                    <button type="button" class="btn btn-primary" id="buybundle" data-dismiss="modal" onclick="setvalue()">Buy And Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div class="tab" role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Section2" aria-controls="home" role="tab" data-toggle="tab">Events</a></li>
                                </ul>
                                <div class="tab-content tabs">
                                    <div role="tabpanel" class="tab-pane fade in active" id="Section2">
                                        <br />
                                        <div>
                                            <h6>Select Event For Parking Lot...</h6>
                                            <select class="form-control" id="eventgroup" onchange="selectedEventFunction(this.value)">
                                                <option value="0">-- Select Event --</option>
                                            </select>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12" id="showeventinfo">
                                                <div class="card">
                                                    <div class="card-body" id="eventInfo">

                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="selectEvent" data-dismiss="modal" onclick="selectedeventslist()">Buy Spot</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="bundleEventList" style="display:none;">
                        <br />
                        <div class="portlet light bordered table-responsive">
                            <h4>
                                <span style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Bundle - BIG10 - Parking lots</span>
                            </h4>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_actions_pending">
                                    @foreach (var item in @ViewBag.BundleEventParkingLot)
                                    {
                                        <div class="mt-actions">
                                            <div class="mt-action">
                                                <div class="mt-action-img">
                                                    <a href="@item.MapLink" target="_blank">
                                                        <img src="~/assets/global/plugins/mapplic/mapplic/images/pin-yellow@2x.png" />
                                                    </a>
                                                </div>
                                                <div class="mt-action-body">
                                                    <div class="mt-action-row table-responsive">
                                                        <div class="mt-action-info ">
                                                            <div class="mt-action-details ">
                                                                <span class="mt-action-author">
                                                                    <a href="@item.MapLink" target="_blank">
                                                                        @item.LotName
                                                                    </a>
                                                                </span>
                                                                <p class="mt-action-desc">
                                                                    @item.Address, @item.City, @item.State, @item.Country - @item.ZipCode
                                                                    <br />Event Price : $@item.EventPrice @*, Rate/hr : $@item.HourPrice*@
                                                                    <br /><b>Distance from venue: @item.DistanceFromVanue</b>
                                                                    @if (item.Available <= 0)
                                                                    {
                                                                        <br /><b style="color:gray">Available Parking Space : 0</b>
                                                                    }
                                                                    else
                                                                    {
                                                                        <br /><b style="color:blue">Available Parking Space : @item.Available Cars</b>
                                                                    }
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="mt-action-buttons ">
                                                            <div class="btn-group">
                                                                @if (item.Available <= 0)
                                                                {
                                                                    <button type="button" style="display:none;" class="btn btn-outline green btn-sm hiddenControl" id="bundlespot" onclick="MakeBookings(@item.Id)" data-toggle="tooltip" title="Buy1 Spot!">Buy1 Spot</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-outline green btn-sm" id="bundlespot" onclick="MakeBookings(@item.Id)" data-toggle="tooltip" title="Buy1 Spot!">Buy1 Spot</button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <div class="portlet light bordered table-responsive" id="evty">
                            <div class="portlet-body">
                                <h4>
                                    <span style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Event - Parking lots</span>
                                </h4>
                                <div class="tab-content">
                                    <div class="tab-pane" id="viewPlaceHolder">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaoPuPJZxGs_Z_tboS7Jn9hA504y6j0Kg&callback"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#evty").hide();
        $("#showeventinfo").hide();
    });

    //$(document).ready(function () {
    //    $("#bundlespot").click(function () {
    //        $("#EventPrice2").val("$150");
    //        $("#EventPrice1").val("$150");
    //    });
    //});

    $(document).ready(function () {
        $("#selectEvent").click(function () {
            $("#bundleEventList").hide();
            $("#viewPlaceHolder").show();
            $("#evty").show();
        });
    });

    $(document).ready(function () {
        $("#buybundle").click(function () {
            $("#bundleEventList").show();
            $("#viewPlaceHolder").hide();
            $("#evty").hide();
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/AdvanceBooking/GetEventName",
            dataType: "json",
            contentType: "application/json",
            success: function (res) {
                $.each(res, function (data, value) {
                    $("#eventgroup").append($("<option></option>").val(value.EventId).html(value.EventName));
                })
            }
        });
    });

    function selectedEventFunction(value) {
        $.ajax({
            url: baseUrl + "/AdvanceBooking/GetSelectedEventInfo/" + value,
            type: "GET",
            contentType: "application/html;charset=UTF-8",
            dataType: "html",
        }).success(function (result) {
            $("#eventInfo").html(result);
            $("#showeventinfo").show();
        });
    }

    function GetMap(Id) {
        $.ajax({
            url: baseUrl + "/AdvanceBooking/GetLocation/" + Id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {

                var markers = result;
                var mapOptions = {
                    center: new google.maps.LatLng(markers[0].Lat, markers[0].Long),
                    zoom: 4,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var infoWindow = new google.maps.InfoWindow();
                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

                var icon = {
                    url: "../assets/global/plugins/mapplic/mapplic/images/pin-yellow@2x.png", // url
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                var data = markers
                var myLatlng = new google.maps.LatLng(data[0].Lat, data[0].Long);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data[0].LotName
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent("<div style = 'width:200px;min-height:50px'><b>" + data[0].LotName + "</b><br>" + data[0].Address + '<br/>' + data[0].City + ', ' + data[0].State + ' ' + data[0].Country + ' ' + data[0].ZipCode + "</div>");
                        infoWindow.open(map, marker);
                    });
                })(marker, data);

                $('#myModalMap').modal('show');

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function ViewDetails(Id) {
        $.ajax({
            url: baseUrl + "/Home/GetLocation/" + Id,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#Id').val(result[0].Id);
                $('#LotName').val(result[0].LotName);
                var Address = result[0].Address + ', ' + result[0].City + ', ' + result[0].State + ', ' + result[0].Country + ' ' + result[0].ZipCode;
                $('#Address').val(Address);
                $('#Capacity').val(result[0].Capacity);
                $('#StartTime').val(result[0].StartTime);
                $('#EndTime').val(result[0].EndTime);
                //$('#EventPrice').val(result[0].EventPrice);
                $('#EventPrice').val("$150");
                $('#HourPrice').val(result[0].HourPrice);
                //$('#EventPrice1').val("$" + result[0].EventPrice);
                $('#EventPrice1').val("$150");
                $('#HourPrice1').val("$" + result[0].HourPrice);
                $('#myModalDetails').modal('show');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function selectedeventslist() {
        var eveneid = $("#eventgroup option:selected").val();
        $.ajax({
            url: baseUrl + "/AdvanceBooking/GetSelectedEventParkingLots/" + eveneid,
            type: "GET",
            contentType: "application/html;charset=UTF-8",
            dataType: "html",
        }).success(function (result) {
            $('#viewPlaceHolder').html(result);
        });
    }

    function MakeBooking(Id) {
        window.location = baseUrl + '/Booking/Index?Id=' + Id;
    }

    function MakeBookings(Id) {
        window.location = baseUrl + '/Booking/Bundle?Id=' + Id;
    }
</script>
<label id="lblLotName"></label>
<label id="lblAddress"></label>
<div class="modal fade bs-modal-lg" id="myModalDetails" style="overflow:hidden;" role="dialog" aria-labelledby="myModalDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalDetailsLabel"><b>Parking Details</b></h4>
            </div>
            <form id="InsertForm1" name="InsertForm1" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="portlet-body form">
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control hiddenControl" id="Id" placeholder="Id" disabled="disabled" />
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="LotName">Lot Name</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="LotName" onkeyup="ChangeCase(this)" placeholder="Parking Lot Name" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="Address">Address</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control" rows="2" id="Address" placeholder="Address" disabled="disabled"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="Capacity">Capacity</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="Capacity" onkeypress="return isNumberKey1(event)" placeholder="Capacity" disabled="disabled" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="StartTime">Start Time</label>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="StartTime" name="StartTime" placeholder="Start Time" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="EndTime">End Time</label>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="EndTime" name="EndTime" placeholder="End Time" disabled="disabled">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="EventPrice">Event Price</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control hiddenControl" id="EventPrice" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" disabled="disabled" />
                                                        <input type="text" class="form-control" id="EventPrice1" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" disabled="disabled">
                                                    </div>
                                                    <label class="col-md-2 control-label" for="HourPrice">Hour Price</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control hiddenControl" id="HourPrice" onkeypress="return isNumberKey(this, event);" placeholder="Hour Price" disabled="disabled" />
                                                        <input type="text" class="form-control" id="HourPrice1" onkeypress="return isNumberKey(this, event);" placeholder="Hour Price" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green-haze" id="btnAdd" onclick="MakeBooking()">Buy1 Spot</button>
                    <button type="button" class="btn red-haze" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="myModalMap" style="overflow:hidden;" role="dialog" aria-labelledby="myModalMapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalMapLabel"><b>Map</b></h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="dvMap" class="card" style="width: 100%; height: 400px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/toastr.css" rel="stylesheet" />
<script src="~/toastr.js"></script>
