﻿@{
    ViewBag.Title = "Bundle";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script src="~/Scripts/App/BundleBooking.js"></script>

<script type="text/javascript">
    function ChangeCase(sender) {
        sender.value = sender.value.toUpperCase();
    }

    function isNumberKey1(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNumberKey(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        ////get the carat position
        //var caratPos = getSelectionStart(el);
        //var dotPos = el.value.indexOf(".");
        //if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
        //    return false;
        //}
        return true;
    }

</script>
<script type="text/javascript">
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewHolder').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
<style>

    .select2.select2-container.select2-container--bootstrap {
        width: 100% !important;
    }
</style>
<style>

    .input-medium {
        width: 100% !important;
    }
</style>

<div class="portlet box " style="background-color:#444d58" id="myModal">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-calendar-check-o" style="color:white"></i>Make Booking
        </div>
        <div class="actions"></div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <div class="portlet box ">
                        <div class="portlet-body">
                            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                <form id="InsertForm1" name="InsertForm1" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control hiddenControl" id="Id" placeholder="Id" disabled="disabled" />
                                            <input type="text" class="form-control hiddenControl" id="EventPrice" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" disabled="disabled" />
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="LotName">Parking Lot Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="LotName" placeholder="Parking Lot Name" disabled="disabled" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Bundle Price</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="EventPrice2" placeholder="Event Price" disabled="disabled" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="LicensePlate">License Plate : </label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="LicensePlate" placeholder="License Plate" />
                                                </div>
                                            </div>
                                            <div class="form-group hiddenControl">
                                                <label class="col-md-2 control-label" for="CustomerName">Customer Name : </label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="CustomerName" placeholder="Customer Name" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="MobileNo">Mobile No.</label>
                                                <div class="col-sm-2 hiddenControl">
                                                    <select class="form-control select2" id="ddlCountryCode"></select>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="MobileNo" onkeypress="return isNumberKey1(event)" placeholder="Mobile No." maxlength="10" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="Email">E-Mail</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="Email" placeholder="E-Mail Address." />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label">&nbsp;</label>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-success" id="btnBooking1" onclick="return MakeBooking1();">Purchase</button>
                                                </div>
                                                <div class="col-md-1">
                                                    <a href="~/Home/Index/" class="btn btn-danger" onclick="clearTextBox()">Cancel</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="myModal1" style="overflow:hidden;" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModal1Label">Payment form</h4>
            </div>
            <form id="InsertForm" name="InsertForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="portlet-body form">
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="LotName1">Parking Lot Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="LotName1" placeholder="Parking Lot Name" disabled="disabled" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="EventPrice">Bundle Price</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="EventPrice1" placeholder="Event Price" disabled="disabled" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="cc_number">Card Number</label>
                                                <div class="col-md-4">
                                                    @*< <input type="text" class="form-control" id="cc_number" placeholder="Card Number" onkeypress="return isNumberKey1(event)" MaxLength="19"/> *@
                                                    <input class="form-control" id="mask_atm" type="text" placeholder="Card Number" onkeypress="return isNumberKey1(event)" onkeyup="checkDigit()" MaxLength="19" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="cc_name">Name on Card</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="cc_name" placeholder="Name on Card" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Card</label>
                                                <div class="col-sm-1" style="width:111px; margin-right:5px">
                                                    @*<input type="text" style="width:111px" class="form-control" id="cc_month" placeholder="MM" onkeypress="return isNumberKey1(event)" MaxLength="2"/>*@
                                                    <select class="form-control" style="width:111px" id="cc_month">
                                                        <option value="0">Month</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-1" style="width:111px; margin-right:5px">
                                                    @*<input type="text" style="width:111px" class="form-control" id="cc_year" placeholder="YY" onkeypress="return isNumberKey1(event)" MaxLength="2" />*@
                                                    <select class="form-control" style="width:111px" id="cc_year"></select>
                                                </div>
                                                <div class="col-sm-1" style="width:111px; margin-right:5px">
                                                    <input type="password" style="width:102px" class="form-control" id="csv" placeholder="CSV" onkeypress="return isNumberKey1(event)" MaxLength="3" />
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">&nbsp;</label>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-success" id="btnBooking" onclick="return MakeBooking();">Pay Now</button>
                                                    <button type="button" class="btn red-haze" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">&nbsp;</label>
                                                <div class="col-md-8">
                                                    <b>We accept all major credit/debit cards securely</b>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">&nbsp;</label>
                                                <div class="col-md-8">
                                                    <img src="~/Allcards.png" width="404" height="115" alt="" title="" padding="0px" border="0" align="center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>

@*<script src="https://checkout.stripe.com/checkout.js"></script>*@

<script src="https://js.stripe.com/v3/"></script>
<div id="payment-request-button">
    <!-- A Stripe Element will be inserted here. -->
</div>

<link href="~/LoaderStyle.css" rel="stylesheet" />
<div class="overlay hiddenControl" id="isLoading">
    <div class="myloader">
        <img src="~/loader.gif" />
    </div>
</div>

<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
