﻿@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script src="~/scripts/App/ParkingLot.js"></script>

<script type="text/javascript">
    function ChangeCase(sender) {
        sender.value = sender.value.toUpperCase();
    }

    function isNumberKey1(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNumberKey(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        ////get the carat position
        //var caratPos = getSelectionStart(el);
        //var dotPos = el.value.indexOf(".");
        //if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
        //    return false;
        //}
        return true;
    }

</script>


<script type="text/javascript">
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewHolder').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>


<style>
    .select2.select2-container.select2-container--bootstrap {
        width: 100% !important;
    }
</style>
<style>
    .input-medium {
        width: 100% !important;
    }
</style>
 

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>Parking Lot List
        </div>
        <div class="actions"></div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <button type="button" class="btn green btn-outline sbold" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"><i class="icon-plus"></i> &nbsp; Add New</button>
                <hr />
                <div class="table-responsive">
                    <div class="portlet box ">
                        <div class="portlet-body">
                            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="myTable" class="table table-responsive table-striped" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Code</th>                                                        
                                                        <th>Parking Name</th>
                                                        <th>Address</th>
                                                        <th>Start Time</th>
                                                        <th>End Time</th>
                                                        <th>Event Price</th>
                                                        <th>Hour Price</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="myModal" style="overflow:hidden;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><b><label id="lblmyModalLabel"></label></b></h4>
            </div>

            <form id="InsertForm" name="InsertForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="portlet-body form">
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-sm-12">                                                
                                                
                                                <input type="text" class="form-control hiddenControl" id="Id" placeholder="Id" disabled="disabled" />

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="LotName">Lot Name</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="LotName" onkeyup="ChangeCase(this)" placeholder="Parking Lot Name" />
                                                    </div>
                                                
                                                    <label class="col-md-2 control-label" for="Address">Address</label>
                                                    <div class="col-md-4">
                                                        <textarea class="form-control" rows="2" id="Address" placeholder="Address"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="City">City</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="City" onkeyup="ChangeCase(this)" placeholder="City" />
                                                    </div>
                                                
                                                    <label class="col-md-2 control-label" for="State">State</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="State" onkeypress="return isNumberKey1(event)" placeholder="State" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="Country">Country</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="Country" placeholder="Country" />
                                                    </div>

                                                    <label class="col-md-2 control-label" for="Capacity">Capacity</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="Capacity" onkeypress="return isNumberKey1(event)" placeholder="Capacity" />
                                                    </div>
                                                </div>
                                                 

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="StartTime">Start Time</label>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="StartTime" name="StartTime" placeholder="Start Time">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <label class="col-md-2 control-label" for="EndTime">End Time</label>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control timepicker timepicker-24" id="EndTime" name="EndTime" placeholder="End Time">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="EventPrice">Event Price</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="EventPrice" onkeypress="return isNumberKey(this, event);" placeholder="Event Price" />
                                                    </div>

                                                    <label class="col-md-2 control-label" for="HourPrice">Hour Price</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="HourPrice" onkeypress="return isNumberKey(this, event);" placeholder="Hour Price" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="Lat">Lat</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="Lat" placeholder="Lat"  onkeypress="return isNumberKey(this, event);" />
                                                    </div>

                                                    <label class="col-md-2 control-label" for="Long">Long</label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="Long" placeholder="Long"  onkeypress="return isNumberKey(this, event);" />
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn green-haze" id="btnAdd" onclick="return Add();">Save</button>
                    <button type="button" class="btn yellow-haze" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn red-haze" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<input type="text" class="form-control hiddenControl" id="txtRole" value="@ViewBag.Role" disabled="disabled" />*@

<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script type="text/javascript">
     toastr.options = {
         "closeButton": true,
         "debug": false,
         "newestOnTop": false,
         "progressBar": false,
         "positionClass": "toast-top-right",
         "preventDuplicates": false,
         "onclick": null,
         "showDuration": "300",
         "hideDuration": "1000",
         "timeOut": "5000",
         "extendedTimeOut": "1000",
         "showEasing": "swing",
         "hideEasing": "linear",
         "showMethod": "fadeIn",
         "hideMethod": "fadeOut"
     }
</script>
