﻿@{
    Layout = null;// "~/Views/Shared/_LayoutLogin.cshtml";
}

@{
    ViewBag.Title = "Change Password";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@System.Configuration.ConfigurationManager.AppSettings["GlobalLongName"]</title>

    <base href="@System.Configuration.ConfigurationManager.AppSettings["GlobalBasePath"]" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #2 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/pages/css/login-5.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />    
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet" />
    <script src="~/scripts/jquery-1.12.4.js" type="text/javascript" language="javascript"></script>

    <style type="text/css">
        body, *, html {
            font-family: "Open Sans",sans-serif;
        }

        .logo-font {
            font-family: 'Cinzel', serif;
        }

        .form-control {
            height: auto;
            font-family: "Open Sans",sans-serif;
        }

        .user-login-5 .login-bg {
            background-position: center;
            background-size: 100% 100%;
            background-size: cover;
            height: 100vh;
            position: relative;
        }

        .loginform-con {
            position: fixed;
            padding: 50px 0;
            top: 0%;
            left: 0px;
            right: 0px;
            z-index: 99;
        }

        .login-bg:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: rgba(255,255,255,0.5);
            z-index: 1;
        }

        .user-login-5 .login-logo {
            z-index: 99;
            top: 0px;
        }

        .user-login-5 .login-container > .login-content {
            max-width: 100%;
            max-width: 400px;
            overflow: auto;
            margin: auto;
            padding: 0px 50px 30px;
            text-align: center;
            background: #fff;
            box-shadow: 0px 0px 100px #eee;
        }

            .user-login-5 .login-container > .login-content .login-header {
                background: #7986cb;
                padding: 10px 0px;
                margin: 0px -50px;
                color: #fff;
            }

            .user-login-5 .login-container > .login-content > .login-form .form-control {
                padding: 10px;
            }

        .user-login-5 .login-container .login-copyright {
            padding: 0px;
            margin: auto;
        }

        .login-copyright, .login-copyright p, .user-login-5 .login-container > .login-content p {
            font-size: 12px;
        }

        .user-login-5 .login-container {
            padding: 30px 0px;
            min-height: 0px;
            max-height: 100vh;
            overflow: auto;
        }

        .btn.green:not(.btn-outline), .btn.green:not(.btn-outline).active.focus, .btn.green:not(.btn-outline).active:focus, .btn.green:not(.btn-outline).active:hover, .btn.green:not(.btn-outline):active.focus, .btn.green:not(.btn-outline):active:focus, .btn.green:not(.btn-outline):active:hover, .open > .btn.green:not(.btn-outline).dropdown-toggle.focus, .open > .btn.green:not(.btn-outline).dropdown-toggle:focus, .open > .btn.green:not(.btn-outline).dropdown-toggle:hover,
        .btn.yellow:not(.btn-outline) {
            color: #FFF;
            background-color: #7986cb;
            border-color: #7986cb;
        }

        .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
            color: #FFF;
            background-color: #7986cb;
        }

        .btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open > .btn.green:not(.btn-outline).dropdown-toggle,
        .btn.yellow:not(.btn-outline).active, .btn.yellow:not(.btn-outline):active, .btn.yellow:not(.btn-outline):hover, .open > .btn.yellow:not(.btn-outline).dropdown-toggle {
            color: #FFF;
            background-color: #c5cae9;
            border-color: #c5cae9;
        }

        .user-login-5 .login-container > .login-content > .login-form {
            margin-top: 20px;
        }

            .user-login-5 .login-container > .login-content > .login-form .form-control {
                margin-bottom: 20px;
            }

        #snow {
            background: none;
            font-family: Androgyne;
            /*background-image: url('~/assets/pages/media/bg/crystal1.png'), url('~/assets/pages/media/bg/crystal2.png'), url('~/assets/pages/media/bg/crystal3.png');*/
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            -webkit-animation: snow 15s linear infinite;
            -moz-animation: snow 15s linear infinite;
            -ms-animation: snow 15s linear infinite;
            animation: snow 15s linear infinite;
        }
    </style>



</head>

<body id="snow" class="login">
    <!-- BEGIN : LOGIN PAGE 5-1 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-12 bs-reset mt-login-5-bsfix">
                <div class="login-bg">
                    @*<img class="login-logo" src="~/assets/logo/logo.png" />*@
                    <div class="loginform-con" style="">
                        <div class="col-md-12 login-container bs-reset mt-login-5-bsfix">
                            <div class="login-content">

                                <script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>

                                <script type="text/javascript">
                                    var baseUrl = $("base").first().attr("href");

                                    function ChangePassword() {

                                        if ($('#OldPassword').val() == "") {
                                            $('#OldPassword').css('border-color', 'Red');
                                            toastr.error("Please enter Old Password.", "Error");
                                            $('#OldPassword').focus();
                                            return false;
                                        }
                                        else {
                                            $('#OldPassword').css('border-color', 'lightgrey');
                                        }

                                        if ($('#NewPassword').val() == "") {
                                            $('#NewPassword').css('border-color', 'Red');
                                            toastr.error("Please enter New Password.", "Error");
                                            $('#NewPassword').focus();
                                            return false;
                                        }
                                        else {
                                            $('#NewPassword').css('border-color', 'lightgrey');
                                        }

                                        if ($('#ConfirmPassword').val() == "") {
                                            $('#ConfirmPassword').css('border-color', 'Red');
                                            toastr.error("Please enter Confirm Password.", "Error");
                                            $('#ConfirmPassword').focus();
                                            return false;
                                        }
                                        else {
                                            $('#ConfirmPassword').css('border-color', 'lightgrey');
                                        }


                                        var maincategoryObj = {
                                            Username: $('#Username').val(),
                                            OPassword: $('#OldPassword').val(),
                                            NPassword: $('#NewPassword').val(),
                                            CPassword: $('#ConfirmPassword').val(),
                                        };

                                        $.ajax({
                                            url: baseUrl + "/ChangePassword/ChangePassword",
                                            data: JSON.stringify(maincategoryObj),
                                            type: "POST",
                                            contentType: "application/json;charset=utf-8",
                                            dataType: "json",
                                            success: function (result) {
                                                //alert(result.Message);
                                                //window.location = '/Home';
                                                if (result.Status == "0") {
                                                    toastr.error(result.Message, "Error");
                                                }
                                                else {
                                                    toastr.success(result.Message, "Success");
                                                    window.location = baseUrl + '/Home';
                                                }

                                            },
                                            error: function (errormessage) {
                                                alert(errormessage.responseText);
                                            }
                                        });

                                    }

                                    
                                     

                                </script>

                                



                                <div class="login-header" style="background-color:white; color:black">
                                    <h2 class="logo-font" style="font-size: 30px">
                                        @*<img src="~/LOGO01.png" alt="Logo" height="100" width="280" />*@
                                        Change Password
                                    </h2>
                                </div>


                                <div action="javascript:;" class="login-form" method="post">
                                    
                                    <form id="InsertFormChange" name="InsertFormChange" enctype="multipart/form-data">
                                        <div class="login-form">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <input type="text" class="form-control" id="Username" value="@ViewBag.Username" placeholder="Enter Username" disabled />
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <input type="password" class="form-control" id="OldPassword" placeholder="Old Password" />
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <input type="password" class="form-control" id="NewPassword" placeholder="New Password" />
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" />
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="button" class="btn btn-success uppercase " id="btnChangePassword"  onclick="return ChangePassword()">Change Password</button>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <p><b style="font-style:italic;color:red; font-size:14px">Please change your password to login.</b></p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- END : LOGIN PAGE 5-1 -->
    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    
    <script src="~/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->

    





    <script type="text/javascript">
    function ForgotPassword() {
         
        var maincategoryObj={
            Email: $('#ForgotEmail').val(),
            };

        $.ajax({
            url: baseUrl + "/Login/ForgotPassword",
            data: JSON.stringify(maincategoryObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",

            success: function (result) {
                //=========Hide Model========
                $('#myModal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                //=========End Hide Model========

                //=========Clear ControlBox Value========
                $('#Email').val("");
                //=========End ControlBox Value========

                alert(result.Message);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    </script>


    <div class="modal fade bs-modal-lg" id="myModa11l" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1"><b>Forgot Password</b></h4>
                </div>

                <form id="InsertFormLogin1" name="InsertFormLogin1" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div>
                            <div class="portlet-body form">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="form-horizontal">
                                            <div class="form-body">
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label" for="ForgotEmail">Email</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="ForgotEmail" placeholder="E-Mail Address" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnForgotPassword" onclick="return ForgotPassword();">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <link href="~/toastr.css" rel="stylesheet" />
    <script src="~/toastr.js"></script>

</body>
</html>
