﻿@{
    ViewBag.Title = "Index";
}

 
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">*@
<link rel="stylesheet" type="text/css" href="~/jquery.dataTables.min.css" />

@*<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script type="text/javascript" language="javascript" src="~/jquery-1.12.4.js"></script>

@*<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>*@
<script type="text/javascript" language="javascript" src="~/jquery.dataTables.min.js"></script>

<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript" language="javascript"></script>
<script src="~/scripts/App/ChangePin.js"></script>

<script type="text/javascript">
        function ChangeCase(sender) {
            sender.value = sender.value.toUpperCase();
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

</script>

<style>
    .input-medium {
        width: 100% !important;
    }
</style>
 

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>Change Password
        </div>
        <div class="actions">
        </div>
    </div>

    <div class="portlet-body form" id="myModal">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="table-responsive">
                    <div class="portlet box ">

                        <div class="portlet-body">
                            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                <form id="InsertForm" name="InsertForm" enctype="multipart/form-data">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="OldPassword">Old Password</label>
                                                    <div class="col-md-3">
                                                        <input type="password" class="form-control" id="OldPassword" placeholder="Old Password" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="NewPassword">New Password</label>
                                                    <div class="col-md-3">
                                                        <input type="password" class="form-control" id="NewPassword" placeholder="New Password" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="ConfirmPassword">Confirm Password</label>
                                                    <div class="col-md-3">
                                                        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" />
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">&nbsp;</label>
                                                    <div class="col-md-8">
                                                        <button type="button" class="btn btn-success uppercase " id="btnChangePassword" onclick="ChangePassword()">Change Password</button>
                                                        <button type="button" class="btn btn-default " id="btnClearMyControl" onclick="ClearChangePassword()">Close</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<input type="text" class="form-control hiddenControl" id="txtRole" value="@ViewBag.Role" disabled="disabled" />
<link href="~/toastr.css" rel="stylesheet" />
<script src="~/toastr.js"></script>

@*</body>
    </html>*@