﻿.PathFontIconText {
    font-size: 12px;
    /*color: #368FF0;*/
    color: #092D48;
    text-indent: 42px;
    padding: 0px 0px 1px 8px;
    text-indent: 42px;
    float: left;
    background-image: url(BgPathHomeIcon.png);
    background-repeat: no-repeat;
    background-position: 6px -3px;
}

.Category {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('Category.png');
    background-repeat: no-repeat;
}

.Grade {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('grade.png');
    background-repeat: no-repeat;
}

.Department {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('department.png');
    background-repeat: no-repeat;
}

.Designation {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('designation.png');
    background-repeat: no-repeat;
}

.Nationality {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('Nationality.png');
    background-repeat: no-repeat;
}

.Education {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('education.png');
    background-repeat: no-repeat;
}

.PayHeads {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('payheads.png');
    background-repeat: no-repeat;
}

.EmployeeBank {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('bank.png');
    background-repeat: no-repeat;
}

.LoanTypes {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('loans.png');
    background-repeat: no-repeat;
}

.OurCompany {
    margin: 5px;
    width: 210px;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #3598DC;
    background-repeat: no-repeat;
}

.YourInformation {
    margin: 5px;
    width: 210px;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #E7505A;
    background-repeat: no-repeat;
}

.Attendance {
    margin: 5px;
    width: 210px;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #32C5D2;
    background-repeat: no-repeat;
}

.Letter {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('Letterrequest.png');
    background-repeat: no-repeat;
}

.ExpenseClaims {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('Expenceclaime.png');
    background-repeat: no-repeat;
}

.Colleagues {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('Colleagues.png');
    background-repeat: no-repeat;
}

.HolidayAllowance {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('HolidayAllowance.png');
    background-repeat: no-repeat;
}

.EmployeeInfo {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('employee.png');
    background-repeat: no-repeat;
}

.PersonalDetails {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('PersonalDetails.png');
    background-repeat: no-repeat;
}

.Position {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('position.png');
    background-repeat: no-repeat;
}

.BankDetails {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('bankdetails.png');
    background-repeat: no-repeat;
}

.LineManager {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('LineManager.png');
    background-repeat: no-repeat;
}

.Paystructure {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('PayStructure.png');
    background-repeat: no-repeat;
}

.Salary {
    margin: 5px;
    width: 210px;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color : #8E44AD;
    background-repeat: no-repeat;
}

.Leaves {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('Leaves.png');
    background-repeat: no-repeat;
}

.SupportCall {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('SupportcalltoIT.png');
    background-repeat: no-repeat;
}

.YourActivities {
    margin: 5px;
    width: 90%;
    height: 115px;
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url('Youractivities.png');
    background-repeat: no-repeat;
}
