﻿body
{
    font-family:Verdana;
    font-size:.80em;
    color:Black;
    margin:0px;
    background-image:url(BgMainBody.jpg);
    background-repeat:repeat;
    background-position:center top;
}
a, a:link, img
{
    border-style: none;
	border-color: inherit;
	border-width: medium;
	color:inherit;
    outline:none;
    text-decoration:none;
    cursor:pointer;
	top: -1px;
	left: 0px;
  
}
div.RadMenu_ctSkin .rmHorizontal .rmRootLink span.rmText { font-size: 13px; }
.RadMenu_WebBlue .rmText {
    font-size:13px;
}
.RadMenu_Windows7 .rmText {
    font-size:12px;
    font-weight:bold;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: .3em;
    padding-bottom: .3em;
}


button
{
	cursor:pointer;
}
.MainDiv
{
    width:1200px;
    height:auto;
    margin:0px auto;
 /* background-image:url(BodyBgGreenBlue.png);
    background-repeat:repeat-x;
    background-position:bottom center;
    background-image:url(bgya.png); 
    background-repeat:repeat-x;
    background-position:center 0px;*/
}

.MainDivS
{
    width:900px;
    height:auto;
    margin:0px auto;
 /* background-image:url(BodyBgGreenBlue.png);
    background-repeat:repeat-x;
    background-position:bottom center;
    background-image:url(bgya.png); 
    background-repeat:repeat-x;
    background-position:center 0px;*/
}
.TopHeaderDivMain
{
   /* background-color:#fcfcfc;*/
    width:100%;
    height:46px;
    float:left;
    padding-bottom:0px;
}
.LogoDiv
{
    height:35px;
    min-width:155px;
    width:98%;
    padding:6px 0px 0px 5px;
    margin-right:0px;
 /*   background-image:url('LogoBgLine.png');
    background-repeat:no-repeat;
    background-position:right -42px;*/
}
.LogoImageNFC
{
    background-image:url(BlankImage.png);
    height:25px;
    width:25px;
    float:left;
    margin:5px 3px 0px 0px;
}
.CompnayLogoImageDiv
{
	padding:0px 0px 0px 0px;
	float:left;
	min-width:30px;
}
.CompanyNameTextDiv
{
	padding:9px 0px 0px 0px;
	float:left;
	width:86%;
	min-width:110px;
}

.LoginPageMainDiv
{
    background-image:url(BgWhiteDot.png);
    background-repeat:repeat;
    width:1000px;
    margin:50px auto 0px auto;
    border:1px solid #C2DDF0;
    
    border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    box-shadow:0px 0px 7px #DADEE1;
    -moz-box-shadow:0px 0px 7px #DADEE1;
    -webkit-box-shadow:0px 0px 7px #DADEE1;
}
.LoginPageTop_Bg
{
	background-image:url(BgMainBody.jpg);
    background-repeat:repeat;
    background-position:center top;
	float: left;
	position:relative;
	width:100%;
	height:70px;
	margin:-70px 0px 0px 0px;
	padding: 0px 0px;	
}
.LoginPageSigninText
{
	background-image:url(signin-text.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:30px;
	width:30%;
	margin:0px 0px 0px 0px;
	float:left;
}
.LoginPageNFCSite
{
	padding:0px;
	margin:7px 0px 0px 24px;
	float:left;
}
.LoginPageHisabLogo
{
	background-image:url(Logo.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:673px;
	height:213px;
}
.LoginViewDivOuter
{
	float: right;
	width: 300px;
}
.LoginViewDiv
{
	float: right;
	height: 31px;
	padding: 14px 10px 0px 0px;
	color: White;
	text-align: right; /*  background-image:url(BgLines.png);
    background-repeat:no-repeat;
    background-position:right -46px;*/
}
.LogoutIcon
{
	background-image: url(Logout.png);
    color:#B3056A;
	background-repeat: no-repeat;
	background-position: right 0px;
	padding: 0px 28px 2px 0px;
}
.HomeWelcomeText
{
    font-size:20px;
    font-weight:bold;
    color:#ffffff; 
    height:484px;
    width:103%;
    margin:0px 0px 0px -15px;
    text-indent:30px;
    position:relative;
    z-index:-1;
    opacity:0.5;
    
    background-image:url(HomePageImage.jpg);
    background-repeat:no-repeat; 
    background-position:-50px -200px;  
}
.CompanyLogoDiv
{
    background-image:url(BgLines.png);
    background-repeat:no-repeat; 
    background-position:-3px 0px;
    float:left;
    width:19%;
    min-width:160px;
    padding:0px 0px;
}
.DltalLogoImage
{
	background-image: url(DgtalLogo.png);
	background-repeat: no-repeat;
	height: 80px;
	width: 75px;
	margin: 20px 0px 10px 10px;
}
.NevigationMainDiv
{
	float: left;
	width: 100%;
	height:100%;
	padding:0px 0px 0px 0px;
	
	
}
.NevigationLinkDiv
{
	float: left;
	margin: 5px 5px 0px 0px;
	width: 100%;
	height:100%;
	vertical-align:middle;
	
}
.NevigationDiv
{
	float: left;
	margin: 7px 0px 0px 3px;
	height: 30px;
	width: 68%;
	min-width: 405px;
	overflow: hidden;
}
.ContentPlaceholderDiv
{
	width: 87%;
}
.SubpageMasterMainDiv
{
	float: left;
	width: 100%;
	padding: 2px 0px 10px 0px;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
}
.SubMasterLeftMainDiv
{
	float: left;
	width: 100%;
	padding: 10px 0px 10px 0px;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px; /* box-shadow:5px 5px 5px #D2D2D2;border:solid 1px #bababa;
    -moz-box-shadow:5px 5px 5px #D2D2D2;
    -webkit-box-shadow:5px 5px 5px #D2D2D2;*/
}
.SubMasterRightSearchMainDiv
{
	float: right;
	width: 14.2%;
	min-height: 526px;
	margin: 45px -4px 0px 0px;
	padding: 10px 0px 10px 22px;
	background-color: #f4f5f7;
	border: solid 1px #bababa;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px; /*    box-shadow:-4px 5px 5px #D2D2D2;
    -moz-box-shadow:-4px 5px 5px #D2D2D2;
    -webkit-box-shadow:-4px 5px 5px #D2D2D2; */
}
.NevigationDivSub
{
	padding: 5px 0px 0px -1px;
	margin: 0px 0px 1px 4px;
	width: 99%;
	float: left; /*   background-color:#f9f9f9;
    border:solid 2px #E7E8EA;
    border-width:0px 1px 1px 1px;
    
   background-image:url(MainBodyBg.png);
    background-repeat:repeat-x;
    background-position:left -7px; */
}
.NevigationSubMenuMainDiv
{
	float: left;
	width: 165px;
	min-width: 160px;
	min-height: 500px; /*background-color:#fafafa;*/
	border: solid 1px #999999;
	margin-right: 3px;
	overflow: hidden;
	background-image: url(BgWhiteDot.png);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.NevigationSubMenuTopIconDiv
{
	float: left;
	padding: 5px 5px 0px 5px;
	margin: -1px 0px 0px -1px;
	width: 170px;
	border-bottom: solid 2px #ff4200;
	background-image: url(BgLines1.png);
	background-repeat: no-repeat;
	background-position: -457px -102px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
.IconTabImageLeftmainDiv
{
	float: left;
	width: 100.5%;
	padding: 7px 5px 1px 5px;
	margin: 0px 0px 0px -5px;
	color: White;
	text-indent: 3px;
}
.IconTabImageLeft
{
	float: left;
	padding: 0px;
	margin: -9px 0px 0px 0px;
	border: none;
}
.IconEmailTop
{
	float: left;
	width: 100.5%;
	border-bottom: solid 2px #0095DA;
	background-image: url(IconEmail.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding: 8px 5px 8px 5px;
	margin: 0px 0px 0px -5px;
	color: White;
	text-indent: 42px;
}
.IconDateTop
{
	float: left;
	width: 100.5%;
	border-bottom: solid 2px #0095DA;
	background-image: url(IconCalander.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding: 8px 5px 8px 5px;
	margin: 0px 0px 0px -5px;
	color: White;
	text-indent: 42px;
}
.IconUserTop
{
	float: left;
	width: 100.5%;
	border-bottom: solid 2px #0095DA;
	background-image: url(IconUser.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding: 8px 5px 8px 5px;
	margin: 0px 0px 0px -5px;
	color: White;
	text-indent: 42px;
}
.IconSaveButton
{
	background-image: url(IconSave.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	text-indent: 38px;
	padding: 8px 3px 8px 3px;
	float: left;
}
.IconCloseButton
{
	background-image: url(IconClose.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	text-indent: 34px;
	padding: 8px 3px 8px 3px;
	float: right;
}
.IconNewButton
{
	background-image: url(IconNew.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	text-indent: 37px;
	padding: 8px 3px 8px 3px;
	float: left;
}
.IconBlueBgColorDiv
{
	background-color: #0095DA;
	border-bottom: solid 2px #ff4200;
	float: left;
	height: 33px;
	padding: 0px 10px 0px 7px;
}
.SearchRightMainDiv
{
	float: left;
	margin: -52px 0px 0px 0px;
}
.SearchBoxMainDiv
{
	border: solid 1px #cadded;
	height: 20px;
	width: 180px;
	background-color: White;
}
.SearchBoxInputBox
{
	border: none;
	height: 18px;
	width: 163px;
	background-color: White;
	float: left;
}
.SearchButtonIcon
{
	float: left;
	border: none;
	margin-top: 2px;
}
.SubMainDivTopSaveCloseDiv
{
	background-color: #0095DA;
	padding: 5px;
	width: 101%;
	margin-left: -15px;
	color: White;
	float: left;
	border-radius: 0px 5px 0px 0px;
	-moz-border-radius: 0px 5px 0px 0px;
	-webkit-border-radius: 0px 5px 0px 0px;
}
.SubSaveCloseButtonMainDiv
{
	/*background-color:#0095DA;*/
	padding: 5px 5px 3px 0px;
	width: 102.50%;
	margin: -1px -15px 15px -15px;
	color: #B3056A;
	float: left;
	border-bottom: 2px solid #ff4200;
	position: relative;
	background-image: url('BgLines1.png');
	background-repeat: no-repeat;
	background-position: -55px -102px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
.SubSaveCloseButtonMainDiv2
{
	/*background-color:#0095DA;*/
	padding: 5px 5px 3px 5px;
	width: 102.1%;
	margin: -1px 0px 15px -15px;
	color: White;
	float: left;
	border-bottom: 2px solid #ff4200;
	position: relative;
	background-image: url(BgLines1.png);
	background-repeat: no-repeat;
	background-position: -55px -102px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}
#ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_UpdatePanel1
{
	display: table;
	width: 100%;
}
.ContentPlaceholderSubMainDiv
{
	border: 1px solid #999999;
	float: right;
	width: 97%;
	min-height: 500px;
	padding: 0px 19px 0px 15px;
	background-image: url(BgWhiteDot.png);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.PathOuterMainDiv
{
	width: 98.8%;
	float: left;
	height: 25px;
	padding: 10px 5px 0px 5px;
	margin: 0px 0px 10px 0px;
	border: solid 1px #999999;
	background-image: url(BgWhiteDot.png);
	background-repeat: repeat;
	background-position: 0px 0px; /*   width:99.9%;
    float:left;
    padding:0px 0px 10px 0px;
    
	border:solid #a7adb8;
    border-width:0px 2px 2px 2px;
    border-color:#a7adb8 #a7adb8 #a7adb8;
    
    background-image:url(BodyBgGreenBlue.png);
    background-repeat:repeat-x;
    background-position:bottom center;
    float:left;*/
}
.PathPlaceHolderDiv
{
	width: 50%;
	float: left;
}
.PathUserNameRightDiv
{
	float: right;
	text-align: right;
	width: 30%;
	padding: 0px 10px 0px 0px;
}
.PathFontBgImage
{
	width: 99%;
	background-image: url(BgWhiteDot.png);
	background-repeat: repeat;
	background-position: 0px 0px;
}
.PathFontIconText
{
	font-size: 12px;
	color:#B3056A;
	
	padding: 0px 0px 1px 8px;
	text-indent: 42px;
	float: left;
	background-image: url(BgPathHomeIcon.png);
	background-repeat: no-repeat;
	background-position: 6px -3px;
}

.Subcriptiondetails
{
	font-size: 12px;
	color:green;
	text-indent: 142px;
	padding: 0px 0px 1px 0px;
	text-indent: 42px;
    float:right;
}

.PathFontDivGrid
{
	width: 99%;
	height: 25px;
	padding: 55px 5px 3px 1px;
	margin-bottom: 10px;
	text-indent: 55px;
	border-bottom: solid 1px #999999;
	background-image: url(BgWhiteDot.png);
	background-repeat: repeat;
	background-position: 0px 0px;
}
.PathFontText
{
	font-size: 12px;
	color: #368FF0;
	text-indent: 42px;
	padding: 0px 0px 1px 8px;
	text-indent: 42px;
	float: left;
	background-image: url(BgPathHomeIcon.png);
	background-repeat: no-repeat;
	background-position: 6px -7px;
}
.PathFontDiv
{
	width: 99%;
	height: 25px;
	padding: 55px 5px 3px 1px;
	margin-bottom: 10px;
	text-indent: 55px;
	border-bottom: solid 1px #999999;
	background-image: url(BgWhiteDot.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.ContentPlaceholderSubDiv
{
	width: 99.8%;
	float: left;
	padding: 0px 0px 10px 0px; /*   border:solid #a7adb8;
    border-width:0px 2px 2px 2px;
    border-color:#a7adb8 #a7adb8 #a7adb8;
    
    background-image:url(BodyBgGreenBlue.png);
    background-repeat:repeat-x;
    background-position:bottom center;
    float:left;*/
}
.ContentPlaceholderDiv2
{
	width: 99.1%;
	padding: 0px 10px 16px 10px;
}
.BorderMainContent
{
	border: 1px solid #c8cbd1;
	padding: 1%;
	width: 98%;
	letter-spacing: 1px;
}
.TableBorderMain
{
	border: 1px solid #c8cbd1;
	width: 100%;
	background-color: White;
}
.TableBorderMain2
{
	border: 1px solid #c8cbd1;
	width: 120%;
	background-color: White;
}
.LabelHidden
{
	border: none;
	background-color: inherit;
}
.LabelLeft3
{
	text-align: right;
	color: Black;
	margin: 0px 0px 0px 0px;
	float: left;
}
.LabelLeft
{
	text-align: left;
	color: Black;
	margin: 0px 10px 0px 0px;
	float: left;
}
.LabelLeftBold
{
	text-align: right;
	color: Black;
	margin: 0px 10px 0px 0px;
	float: right;
	font-weight: bold;
}
.LabelLeft2
{
	text-align: right;
	color: Black;
	margin: 0px 0px 0px 10px;
	float: left;
}
.LabelLeftBold2
{
	text-align: right;
	color: Black;
	margin: 0px 0px 0px 10px;
	float: left;
	font-weight: bold;
}
.LabelRight
{
	text-align: right;
	color: Black;
	margin: 0px 10px 0px 0px;
	float: right;
}
.LabelRightBold
{
	text-align: right;
	color: Black;
	margin: 0px 10px 0px 0px;
	float: right;
	font-weight: bold;
}
.LabelRight2
{
	text-align: right;
	color: Black;
	margin: 0px 0px 0px 10px;
	float: left;
}
.LabelRightBold2
{
	text-align: right;
	color: Black;
	margin: 0px 0px 0px 10px;
	float: left;
	font-weight: bold;
}
.LabelRightGreen
{
	color: #A0D178;
	text-align: right;
	margin: 0px 10px 0px 0px;
	float: right;
	font-weight: bold;
}
.LabelRight
{
	text-align: right;
	color: Black;
	float: right;
    margin-right: 10px;
    margin-top: 0px;
}
.LabelLeftGreen
{
	color: #A0D178;
	width: 185px;
	height: 14px;
	padding: 1px 3px 3px 3px;
	margin: 5px 0px 0px 0px;
	font-size: 11px;
	color: #000000;
	border: groove 1px #D9D9D9;
}
.TextBox2
{
	width: 30px;
	height: 14px;
	padding: 1px 3px 3px 3px;
	margin: 5px 0px 0px 0px;
	font-size: 11px;
	color: #000000;
	border: groove 1px #D9D9D9;
}

.TextBoxCombo
{
	width: 193px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px -1px;
	font-size: 11px;
	color: #000000;
	border: groove 1px #D9D9D9;
}
.TextBoxCombo2
{
	width: 84px;
	height: 20px;
	margin: 3px 0px 5px 0px;
	color: #000000;
	font-size: 11px;
	border: solid 1px #c8cbd1;
}
.TextBoxDate
{
	width: 75px;
	height: 14px;
	padding: 1px 3px 3px 3px;
	margin: 0px 0px 5px 0px;
	font-size: 11px;
	color: #000000;
	border: solid 1px #c8cbd1;
}
.TextBoxDetails
{
	background-color: #ffffff;
	width: 335px;
	max-height: 160px;
	overflow: auto;
	padding: 5px 5px 5px 10px;
	margin: 0px 0px 5px 0px;
	font-size: 11px;
	color: #6495ed;
	border: 2px solid #CAD4DC;
	outline: 2px solid #ECEFF1;
}
.TextBoxAddress
{
	width: 185px;
	height: 35px;
	padding: 1px 3px 3px 3px;
	margin: 5px 0px 0px 0px;
	font-size: 11px;
	color: #000000;
	border: groove 1px #D9D9D9;
}
.TextBoxRemarks
{
	width: 185px;
	height: 43px;
	padding: 1px 3px 3px 3px;
	margin: 0px 0px 5px 0px;
	font-size: 11px;
	color: #000000;
	border: solid 1px #c8cbd1;
}
.TextBoxBrowse
{
	width: 193px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px -1px;
	font-size: 11px;
	color: #000000;
	border: groove 1px #D9D9D9;
}
.TextBoxLogo
{
	width: 130px;
	height: 73px;
	margin: 2px 0px 5px 0px;
	color: #000000;
	font-size: 11px;
	border: solid 1px #c8cbd1;
}
.IconsInsert
{
	padding: 3px;
	margin: 5px;
	float: left;
	border: solid 1px #c8cbd1;
}
.IconsInsertActive
{
	padding: 3px;
	margin: 5px;
	float: left;
	border: solid 1px #00baff;
}
.Button
{
	/*    background-image:url(../images/GridBgAll.png);
    background-repeat:repeat-x;
    background-position:left 0px; */
	padding: 0px 10px 0px 10px;
	background-color: #b40080;
	color: White;
	font-size: 11px;
	word-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	height: 26px;
	margin-bottom: 3px;
	box-shadow: 0px 0px 3px #C8CBCE;
	-moz-box-shadow: 0px 0px 3px #C8CBCE;
	-webkit-box-shadow: 0px 0px 3px #C8CBCE;
}
.Button:hover
{
	text-decoration:underline;
}

.PageNameTab
{
	padding: 7px 10px 6px 10px;
	background-color: #76BFFD;
	color: White;
	font-size: 12px;
	word-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid;
	border-color: #ffffff #e8eaf0 #e8eaf0 #e8eaf0;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-weblit-border-radius: 5px 5px 0px 0px;
	box-shadow: 1px -1px 6px #C8CBCE;
	-moz-box-shadow: 1px -1px 6px #C8CBCE;
	-webkit-box-shadow: 1px -1px 6px #C8CBCE;
}
/*
{
    padding:7px 10px 6px 10px;
    background-color:#76BFFD;
    color:White;
    font-size:12px;
    word-spacing:1px;
    text-transform:uppercase;
    border:1px solid;
    border-color:#ffffff #e8eaf0 #e8eaf0 #e8eaf0;
    
    border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -weblit-border-radius:5px 5px 0px 0px;
      
    box-shadow:1px -1px 6px #C8CBCE;
    -moz-box-shadow:1px -1px 6px #C8CBCE;
    -webkit-box-shadow:1px -1px 6px #C8CBCE;
}
*/
.RawBgColorGrey
{
	background-color: #86BCEB;
	width: 100%;
	padding: 10px 0px;
	height: 8px;
}
.RawBgColorGrey2
{
	background-image: url(BgWhiteDot.png);
	background-color: #86BCEB;
	width: 100%;
	padding: 10px 10px;
}
.GraphBgDiv
{
	width: 100%;
	text-align: center;
	background-color: #6c7a93;
	color: White;
}
.GraphDiv
{
	width: 1000px;
	height: 450px;
	background-color: White;
	color: Blue;
	border: none;
}
/* Menu style Start */
.MenuDefault a
{
	background: none;
}
.MenuDefault
{
	/*  Color:#65666A; */
	color: black;
	height: 20px;
	margin: -1px 0px 0px -2px;
	float: left;
	font-size: 13px;
	background-image: url(BgHLineBlue.png);
	background-repeat: repeat-y;
	background-position: -2px -2px;
	overflow: hidden;
}

.MenuDefault a:hover
{
	background: none;
}
.MenuDefault:hover
{
	background-image: url(BgLines.png);
	background-repeat: no-repeat;
	background-position: -182px -208px;
	height: 20px;
	margin: -1px 0px 0px -2px;
	overflow: hidden;
	text-decoration: none;
}
.Selected a
{
	background: none;
}
.Selected
{
	color: White; /*  background-color:#fdfdfd;
    border:solid 1px #b7bbbd;
    border-width:0px 1px;*/
	height: 20px;
	margin: -1px 0px 0px -2px;
	background-image: url(BgLines.png);
	background-repeat: no-repeat;
	background-position: -182px -56px;
	overflow: hidden;
}
.MenuHover
{
	text-decoration: underline;
	color: White;
}
.SubMenuDefault
{
	color: #000000;
	height: 28px;
	margin-top: -2px;
}
.SubMenuHover
{
	text-decoration: underline;
}
.SubMenuSelected
{
	background-color: #d6e5f2;
	border: solid 1px #a3d0f7; /*  color:#5cb3fd;
     
   border:solid 1px #b7bbbd;
    border-width:0px 1px; */
}
/* Menu style end */
/* SUB Menu style Start */
.SUBMenuDefault a
{
	background: none;
}
.SUBMenuDefault
{
	color: #000000;
	height: 21px;
	padding-top: 0px;
	float: left;
	width: 900%;
	background-image: url(BgLeftMenu.png);
	background-repeat: no-repeat;
	background-position: -43px -10px;
}
.SUBSelected
{
	/*  color:#000000;
    background-color:#fdfdfd;
    border:solid 1px #b7bbbd;
    border-width:0px 1px;
    height:35px;*/
}
.SUBMenuHover
{
	text-decoration: none;
}

.SUBMenuHover
{
	background: none;
}
.SUBMenuHover
{
	/* background-color:#bed8ef;    width:900%;*/
	color: #3196e1;
	background-image: url(BgLeftMenu.png);
	background-repeat: no-repeat;
	background-position: -43px -64px;
}
.SUBMenuSelected
{
	background: none;
}
.SUBMenuSelected
{
	/*  background-color:#6CB0EB;    width:900%;
*/
	color: #ffffff;
	background-image: url(BgLeftMenu.png);
	background-repeat: no-repeat;
	background-position: -43px -118px;
}
/* SUBMenu style end */

/* Gride style Start */
.Grid
{
	color: Black;
	border: none;
	border-color: #d0d5da;
	text-align: left;
	font-size: 11px;
}
.GridHeader
{
	background-image: url(../images/GridBgAll.png);
	background-repeat: repeat-x;
	background-position: left 0px;
	color: Black;
	background-color: #e3effe;
	font-weight: lighter;
	height: 33px;
}
.GridRow
{
	/*  background-image:url(../images/GridBgAll.png);
    background-repeat:repeat-x;
    background-position:left -81px; */
	color: Black;
	background-color: #ffffff;
	height: 22px;
}
.GridAlternatingRow
{
	/* background-image:url(../images/GridBgAll.png);
    background-repeat:repeat-x;
    background-position:left -110px;    */
	background-color: #f4f6f8;
	color: black;
	height: 22px;
}
.GridSelectedRow
{
	color: Black;
	height: 22px;
}

.GridPager span
{
	color: black;
	font-weight: normal; /* background-color:#76BFFD; */
	background-color: #E2E7EF;
	padding: 1px 4px;
	border: solid 1px #ffffff;
}
.GridFooter
{
	color: Black;
}
/* Gride style End */

/* Gride Export to excel style */
.SubMainContentMainDiv
{
	width: 100%;
	float: left;
}
.GridOuterDivBorder
{
	padding: 1%;
	width: 97.8%;
	border: solid #dcdcdc 1px;
	margin: 0px 0px 10px 0px;
	background-color: #f9f9fa;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.GridInnerDivBorder
{
	color: Black;
	border: solid 1px #dcdcdc;
	max-width: 100%;
	max-height: 380px;
	overflow: auto;
	background-color: White;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 1px 0px #CCD0D5;
	-webkit-box-shadow: 0px 0px 1px 0px #CCD0D5;
	box-shadow: 0px 0px 1px 0px #CCD0D5;
}
.GridInnerDivBorder2
{
	color: Black;
	border: solid 1px #dcdcdc;
	width: 100%;
	max-width: 100%;
	overflow: auto;
	background-color: White;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 1px 0px #CCD0D5;
	-webkit-box-shadow: 0px 0px 1px 0px #CCD0D5;
	box-shadow: 0px 0px 1px 0px #CCD0D5;
}
.HrLineBlue
{
	background-color: #5bcff5;
	margin: 45px 0px 45px 0px;
	width: 1px;
	float: left;
	height: 295px;
	-moz-box-shadow: 0px 0px 2px 0px #CCD0D5;
	-webkit-box-shadow: 0px 0px 2px 0px #CCD0D5;
	box-shadow: 0px 0px 2px 0px #CCD0D5;
}

.autocomplete_list
{
	visibility: hidden;
	margin: 0px !important;
	padding: 0px;
	background-color: inherit;
	color: windowtext;
	border: buttonshadow;
	border-width: 1px;
	border-style: solid;
	cursor: default;
	text-align: left;
	list-style-type: none;
	overflow: auto;
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
}

.autocomplete_highlighted_listitem
{
	background-color: Highlight;
	color: HighlightText;
	padding: 3px;
}

.autocomplete_listItem
{
	background-color: window;
	color: windowtext;
	padding: 1px;
}
.Copyright_Div_Login
{
    background-image:url(DgtalLogo.png);
    background-repeat:no-repeat;

    background-position:right -10px;
    padding:25px 0px 0px 23px;
    margin:50px 0px 5px 0px;
    text-indent:40px;
    height:38px;
    width:92.5%;
    color:Black;
    float:left;
}
.Copyright_Div
{
	background-image:url(DgtalLogo.png);
    background-repeat:no-repeat;
    font-size:10px;
    background-position:right -10px;
    padding:30px 0px 0px 10px;
    height:65px;
    width:98%;
    color:Black;
    float:left;
}
.Copyright_Div_OuterDiv
{
	background-image: url(BgWhiteDot.png);
	background-repeat: repeat;
}

.autocomplete_list
{  
    visibility:hidden;
    margin:0px!important;
    padding:0px;
    background-color:inherit;
    color:windowtext;
    border:buttonshadow;
    border-width:1px;
    border-style:solid;
    cursor:default;
    text-align:left; 
    list-style-type:none;
    overflow:auto;
    font-weight:normal;    
    font-size:11px;            
    margin:0px;
}

.autocomplete_highlighted_listitem
{
    background-color:Highlight;
    color:HighlightText;
    padding:1px;
}

.autocomplete_listItem 
{
    background-color:window;
    color:windowtext;
    padding:1px;
}  

.autocomplete_highlighted_listitem_2
{
    background-color:Highlight;
    color:HighlightText;    
    padding-top:1px;
}

.autocomplete_listItem_2
{
    background-color:window;
    color:windowtext;
    padding:1px;
}  
.lblReports
{
    font-size:13px;
}
